
*
  box-sizing: border-box !important
  font-family: 'Gotham', sans-serif
  -webkit-appearance: none
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  outline: none

body, html
  margin: 0
  &.non-scrollable
    overflow: hidden

#main
  padding-top: 120px

.visible-xs, .hidden, .visible-sm
  display: none

img
  display: block
  width: 100%

iframe
  border: none

//responsiveness
@media (max-width: 1024px)
  .visible-sm
    display: block!important
  .hidden-sm
    display: none!important
  #main
    padding-top: 63px

@media (max-width: 767px)
  .visible-xs
    display: block
  .hidden-xs
    display: none!important
  #main
    padding-top: 53px