@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon/icomoon.eot?avze1t')
  src: url('../fonts/icomoon/icomoon.eot?avze1t#iefix') format("embedded-opentype"), url('../fonts/icomoon/icomoon.ttf?avze1t') format("truetype"), url('../fonts/icomoon/icomoon.woff?avze1t') format("woff"), url('../fonts/icomoon/icomoon.svg?avze1t#icomoon') format("svg")
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering ===========
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-phone-outlined:before
  content: "\e91a"

.icon-download:before
  content: "\e919"

.icon-minus:before
  content: "\e915"

.icon-plus:before
  content: "\e916"

.icon-rotate:before
  content: "\e917"

.icon-scale:before
  content: "\e918"

.icon-marker-sm:before
  content: "\e914"

.icon-bed2:before
  content: "\e911"

.icon-car2:before
  content: "\e912"

.icon-shower2:before
  content: "\e913"

.icon-bed:before
  content: "\e908"

.icon-car:before
  content: "\e909"

.icon-shower:before
  content: "\e90a"

.icon-steps:before
  content: "\e90b"

.icon-dollar:before
  content: "\e90c"

.icon-driibble:before
  content: "\e90d"

.icon-home:before
  content: "\e90e"

.icon-marker:before
  content: "\e90f"

.icon-question:before
  content: "\e910"

.icon-facebook:before
  content: "\e900"

.icon-youtube:before
  content: "\e901"

.icon-close:before
  content: "\e902"

.icon-menu:before
  content: "\e903"

.icon-phone:before
  content: "\e904"

.icon-down:before
  content: "\e905"

.icon-play:before
  content: "\e906"

.icon-right:before
  content: "\e907"