//--- Fonts

@font-face
  font-family: "Gotham"
  src: url('/fonts/gotham/Gotham-Bold.eot'), url('/fonts/gotham/Gotham-Bold.otf') format('opentype'), url('/fonts/gotham/Gotham-Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/gotham/Gotham-Bold.woff') format('woff')
  font-weight: 700
  font-style: normal

@font-face
  font-family: "Gotham"
  src: url('/fonts/gotham/Gotham-Medium.eot'), url('/fonts/gotham/Gotham-Medium.otf') format('opentype'), url('/fonts/gotham/Gotham-Medium.eot?#iefix') format('embedded-opentype'), url('/fonts/gotham/Gotham-Medium.woff') format('woff')
  font-weight: 500
  font-style: normal

@font-face
  font-family: "Gotham"
  src: url('/fonts/gotham/Gotham-Book.eot'), url('/fonts/gotham/Gotham-Book.otf') format('opentype'), url('/fonts/gotham/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('/fonts/gotham/Gotham-Book.woff') format('woff')
  font-weight: 400
  font-style: normal

@font-face
  font-family: "Gotham"
  src: url('/fonts/gotham/Gotham-Light.eot'), url('/fonts/gotham/Gotham-Light.otf') format('opentype'), url('/fonts/gotham/Gotham-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/gotham/Gotham-Light.woff') format('woff')
  font-weight: 300
  font-style: normal

@font-face
  font-family: "Gotham"
  src: url('/fonts/gotham/Gotham-LightItalic.eot'), url('/fonts/gotham/Gotham-LightItalic.otf') format('opentype'), url('/fonts/gotham/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'), url('/fonts/gotham/Gotham-LightItalic.woff') format('woff')
  font-weight: 300
  font-style: italic


//--- End


h1, h2, h3, h4, h5, h6, ul, p
  margin: 0
  list-style: none
  padding: 0

ul
  display: block

a
  text-decoration: none
  transition: all .3s
  display: inline-block
  color: inherit

.text-center
  text-align: center

.text-right
  text-align: right
  justify-content: flex-end

.i
  font-style: italic


//--- Titles
.title-large
  font-size: 54px
  font-weight: 300
  letter-spacing: 1px
  i
    display: inline-block
    font-size: 22px
    position: relative
    bottom: 2px
    margin-left: 15px
    transition: all .3s
  &:hover
    i
      transform: translateX(10px)

.title-page
  font-size: 42px
  font-weight: 300
  letter-spacing: 0.79px
  color: $green

.title-big
  font-size: 36px
  font-weight: 300
  line-height: 48px
  letter-spacing: 0.68px

.title-section
  font-size: 30px
  font-weight: 300
  letter-spacing: 0.38px

.title-num
  font-size: 32px
  font-weight: 300
  letter-spacing: 0.3px

.title-tel
  font-size: 20px
  font-weight: 500
  letter-spacing: 0.38px

.title-small,
.title-small-u,
.title-small-b,
.title-small-l
  font-size: 16px

.title-small,
.title-small-u
  font-weight: 500
  letter-spacing: 0.38px

.title-small-b
  font-weight: 700

.title-small-l
  font-weight: 300
  letter-spacing: 0.3px

.up-text, .title-small-u
  text-transform: uppercase

.title-smaller, .title-smaller-u, .title-smaller-b
  font-size: 14px
  font-weight: 500
  letter-spacing: 0.33px

.title-smaller-b
  font-weight: 700

.title-smaller-u
  text-transform: uppercase


//--- Texts
.text-huge
  font-size: 24px
  font-weight: 300
  line-height: 42px

.text-big
  font-size: 20px
  font-weight: 300
  letter-spacing: 1px

.text-normal, .text-book
  font-size: 16px
  font-weight: 300
  line-height: 28px

.text-book
  font-weight: 400

.text-small, .text-small-b
  font-size: 14px
  font-weight: 300
  letter-spacing: 0.38px

.text-small-b
  font-weight: 500

.text-smaller, .text-smaller-b, .text-smaller-l
  font-size: 12px
  font-weight: 500
  text-transform: uppercase
  letter-spacing: 0.23px

.text-smaller-b
  font-weight: 700
  letter-spacing: 0.26px

.text-smaller-l
  font-weight: 300
  text-transform: none

.text-xs
  font-size: 10px
  font-weight: 300
  line-height: 18px


//--- Text bolder on hover
.bold-fade
  position: relative
  transition: none!important
  span, &:before
    transition: all .3s!important
  &:before
    content: attr(data-title)
    position: absolute
    left: 0
    top: 0
    font-weight: 500
    opacity: 0
    letter-spacing: 0
    color: $green
    word-break: keep-all
    white-space: nowrap
    -webkit-backface-visibility: hidden
  &:hover
    span
      opacity: 0!important
    &:before
      opacity: 1

//--- Page title
.page-title

  p.text-big
    max-width: 1020px
    margin: 30px auto 0
    line-height: 32px
    letter-spacing: 1.43px
    color: #5e5e5e

  &__row
    margin: -10px -15px
    h1, .page-title__img
      padding: 10px 15px
  &__img
    img
      width: 160px



//responsiveness
@media (max-width: 1024px)
  .title-big
    font-size: 30px
    line-height: 48px
    letter-spacing: 0.7px

  .title-page
    font-size: 30px
    letter-spacing: 0.56px

  .page-title p.text-big
    font-size: 16px
    line-height: 28px
    letter-spacing: 1.14px
    margin: 15px 0 0


@media (max-width: 767px)
  .title-large
    font-size: 24px
    letter-spacing: 0.56px
    i
      font-size: 12px
      bottom: 1px

  .title-page
    font-size: 24px
    letter-spacing: 0.45px

  .title-big
    font-size: 24px
    line-height: 36px
    letter-spacing: 0.56px

  .title-section
    font-size: 24px
    letter-spacing: 0.3px

  .title-small,
  .title-small-u,
  .title-small-b,
  .title-small-l
    font-size: 14px
    letter-spacing: 0.42px

  .text-huge
    font-size: 14px
    line-height: 26px
    letter-spacing: 0.38px

  .text-normal
    font-size: 14px
    font-weight: 300
    line-height: 23px
    letter-spacing: 0.42px

  .text-normal, .text-book
    font-size: 14px
    letter-spacing: 0.26px

  .page-title
    p.text-big
      font-size: 14px
      line-height: 23px
      letter-spacing: 1px

    &__img img
      width: 115px
