
.dropdown-content.bwu.dark
    .container

        //Links
        ul.dropdown-content__links
            li
                a(href='#')
                    | Build with us
                    i.icon-right

        // Items
        .bwu__items.row.row-15.middle.wrap

            //1
            .bwu__item
                a(href='#').bwu__item__card
                    i.icon-steps
                    p.title-small 7 Step Build Process
                    i.icon-right
            //2
            .bwu__item
                a(href='#').bwu__item__card
                    i.icon-driibble
                    p.title-small Colour Selection Studio
                    i.icon-right
            //3
            .bwu__item
                a(href='#').bwu__item__card
                    i.icon-home
                    p.title-small Knockdown Rebuild
                    i.icon-right
            //4
            .bwu__item
                a(href='#').bwu__item__card
                    i.icon-question
                    p.title-small First Time Builders
                    i.icon-right
            //5
            .bwu__item
                a(href='#').bwu__item__card
                    i.icon-dollar
                    p.title-small Financial Services
                    i.icon-right
            //6
            .bwu__item
                a(href='#').bwu__item__card
                    i.icon-marker
                    p.title-small Where We Build
                    i.icon-right












