
.dropdown-content.for-sale.dark
    .container

        // Links
        ul.dropdown-content__links
            li
                a(href='#')
                    | Land for Sale
                    i.icon-right

        // Items
        .for-sale__items.row.row-15.middle.wrap

            //1
            .for-sale__item
                h6.title-small Kerrford Park
                ul.for-sale__item__list
                    li.title-small-l Chatterton Place, West Albury NSW 2640
                    li.title-small Chatterton Place, West Albury NSW 2640
                    li.title-small
                        a(href='#') Packages from $132,500

            //2
            .for-sale__item
                h6.title-small Kerrford Park
                ul.for-sale__item__list
                    li.title-small-l Chatterton Place, West Albury NSW 2640
                    li.title-small Chatterton Place, West Albury NSW 2640
                    li.title-small
                        a(href='#') Packages from $132,500

            //3
            .for-sale__item
                h6.title-small Kerrford Park
                ul.for-sale__item__list
                    li.title-small-l Chatterton Place, West Albury NSW 2640
                    li.title-small Chatterton Place, West Albury NSW 2640
                    li.title-small
                        a(href='#') Packages from $132,500

            //4
            .for-sale__item
                h6.title-small Kerrford Park
                ul.for-sale__item__list
                    li.title-small-l Chatterton Place, West Albury NSW 2640
                    li.title-small Chatterton Place, West Albury NSW 2640
                    li.title-small
                        a(href='#') Packages from $132,500


