.home-design.dropdown-content
    .container

        // Links
        ul.dropdown-content__links
            li
                a(href='#')
                    | Browse all Homes
                    i.icon-right
            li
                a(href='#', data-title='Our Awards')
                    span Our Awards
                    i.icon-right
            li
                a(href='#', data-title='Our Ranges')
                    span Our Ranges
                    i.icon-right
            li
                a(href='#', data-title='Our Inclusions')
                    span Our Inclusions
                    i.icon-right
            li
                a(href='#', data-title='Promotions')
                    span Promotions
                    i.icon-right



        // Items
        .home-design__items.row.row-15.wrap

            //1
            .home-design__item
                a(href='#').home-design__item__card
                    .home-design__item__logo
                        img(src='../img/brands/miy.svg', alt='miy')
                    p.text-normal
                        | Browse our full range of
                        | home Designs
                        i.icon-right

            //2
            .home-design__item
                a(href='#').home-design__item__card
                    .home-design__item__logo
                        img(src='../img/brands/miy.svg', alt='miy2')
                    p.text-normal
                        | Browse Connect Family
                        | Living home Designs
                        i.icon-right

            //3
            .home-design__item
                a(href='#').home-design__item__card
                    .home-design__item__logo
                        img(src='../img/brands/encore.svg', alt='encore')
                    p.text-normal
                        | Browse Allure Collection
                        | home Designs
                        i.icon-right

            //4
            .home-design__item
                a(href='#').home-design__item__card
                    .home-design__item__logo
                        img(src='../img/brands/allure.png', alt='allure')
                    p.text-normal
                        | With a Encore custom
                        | designed home
                        i.icon-right




