.homes.dropdown-content
    .container

        // Links
        ul.dropdown-content__links
            li
                a(href='#')
                    | View all Displays
                    i.icon-right

        // Title
        h6.title-small-l.hidden-sm Homes on Display

        // Items
        .homes__items.row.row-15.middle.hidden-sm

            //1
            .homes__item
                a(href='#').homes__item__content.row.middle
                    .homes__item__img
                        img(src='https://picjumbo.com/wp-content/uploads/venice-piazzale-square-sunset-1080x720.jpg', alt='home1')
                    .homes__item__desc
                        b.title-small
                            | Bianco 262
                            i.icon-right
                        .homes__item__icons
                            .homes__item__icons__item
                                i.icon-bed
                                span 4
                            .homes__item__icons__item
                                i.icon-shower
                                span 42
                            .homes__item__icons__item
                                i.icon-car
                                span 400
                        p.title-small-l 5 Charlton Road, Killara

            //2
            .homes__item
                a(href='#').homes__item__content.row.middle
                    .homes__item__img
                        img(src='https://picjumbo.com/wp-content/uploads/venice-piazzale-square-sunset-1080x720.jpg', alt='home1')
                    .homes__item__desc
                        b.title-small
                            | Bianco 262
                            i.icon-right
                        .homes__item__icons
                            .homes__item__icons__item
                                i.icon-bed
                                span 4
                            .homes__item__icons__item
                                i.icon-shower
                                span 42
                            .homes__item__icons__item
                                i.icon-car
                                span 400
                        p.title-small-l 5 Charlton Road, Killara

            //3
            .homes__item
                a(href='#').homes__item__content.row.middle
                    .homes__item__img
                        img(src='https://picjumbo.com/wp-content/uploads/venice-piazzale-square-sunset-1080x720.jpg', alt='home1')
                    .homes__item__desc
                        b.title-small
                            | Bianco 262
                            i.icon-right
                        .homes__item__icons
                            .homes__item__icons__item
                                i.icon-bed
                                span 4
                            .homes__item__icons__item
                                i.icon-shower
                                span 42
                            .homes__item__icons__item
                                i.icon-car
                                span 400
                        p.title-small-l 5 Charlton Road, Killara

