.house-land.dropdown-content
    .container

        // Links
        ul.dropdown-content__links
            li
                a(href='#')
                    | Browse all Packages
                    i.icon-right
            li
                a(href='#', data-title='Display Homes For Sale')
                    span Display Homes For Sale
                    i.icon-right


        // Items
        .house-land__row.row.row-15

            // Left (image)
            .house-land__column
                h6.title-small-l Land for Sale
                a(href='#').house-land__image
                    img(src='https://picjumbo.com/wp-content/uploads/venice-piazzale-square-sunset-1080x720.jpg', alt='land-of-sale')

            // Right (items)
            .house-land__column
                h6.title-small-l Featured Packages

                .house-land__items.row.row-15.wrap

                    //1
                    .house-land__item
                        a(href='#').house-land__item__content
                            b.title-small Lot 114 Tweed Court, Iluka Views, Thurgoona
                            span.title-num $375,400
                            p
                                | View Package
                                i.icon-right

                    //2
                    .house-land__item
                        a(href='#').house-land__item__content
                            b.title-small Lot 114 Tweed Court, Iluka Views, Thurgoona
                            span.title-num $375,400
                            p
                                | View Package
                                i.icon-right

                    //3
                    .house-land__item
                        a(href='#').house-land__item__content
                            b.title-small Lot 114 Tweed Court, Iluka Views, Thurgoona
                            span.title-num $375,400
                            p
                                | View Package
                                i.icon-right