.main-items.section

    .container

        // Header
        include _items-header

        // Items rows
        .main-items__row
            //1
            .main-items__item
                include _card
                //---- Preview
                include _preview
            //2
            .main-items__item
                include _card
                //---- Preview
                include _preview
            //3
            .main-items__item
                include _card
                //---- Preview
                include _preview
            //4
            .main-items__item
                include _card
                //---- Preview
                include _preview
            //5
            .main-items__item
                include _card
                //---- Preview
                include _preview
            //6
            .main-items__item
                include _card
                //---- Preview
                include _preview