.main-items__header.row.middle

    // Showing
    .main-items__header__showing.full
        p
            | Showing
            |
            span 35
            |
            | of
            |
            span 35

    // Compare, visible only on desktop
    .main-items__header__compare.hidden-sm.col-2.text-right
        p
            | Compare
            |
            b 0 of 4

    // Show filters btn
    .main-items__header__show-filters.visible-sm
        span.btn-round.filters__show__btn Filters