
.preview.dark

    // Header
    .preview__header.row.middle

        // Left
        .preview__header__left.full.row.middle
            h2.title-page Indigio
            ul.preview__header__sizes.row.middle
                li.active 29
                li 24
                li 23

        // Right
        .preview__header__right.hidden-sm
            a(href='').btn-dark Explore the Indigo

    // Body
    .preview__body.row

        // Description (left)
        .preview__desc

            // Home measurements
            .preview__desc__item
                h4.title-small-l Home measurements

                .preview__desc__content

                    h5.title-smaller.green
                        | Designed to suit
                        |
                        span 12.5 X 28m
                        |
                        | block
                        sup *
                    table
                        tbody
                            tr
                                td House Area (m²)
                                td 208.68m²
                            tr
                                td Exterior Length
                                td 21.57m
                            tr
                                td Exterior Width
                                td 11.30m
                            tr
                                td Block Depth
                                td 28.0m
                            tr
                                td Squares
                                td 22.46

            // Info
            .preview__desc__info
                p.text-smaller-l.green
                    | Size may vary dependant on façade.
                    | Room size may be smaller on Hebel homes.
                    | Refer to working drawings for complete dimensions.

        // Image
        .preview__image
            img(src='../img/home-plan.png', alt='home')





