
.location

    .container

        .location__row.row

            // Details (left column)
            include _details

            // Location card
            include ../../components/_location-card
