.location__details.dark

    // Header
    .location__details__header

        // Logo
        .location__details__logo
            img(src='../img/brands/kerrford.png', alt='kerrford-park')

    .location__details__section.bordered.grow

        // Info
        .location__details__info.location__details__info--estate

            //Address
            .location__details__address
                span.text-small-b Address
                p.text-small 5 Kerr rd, Killara, Vic 3691

            // From - Only
            .location__details__from-only

                //1, From
                .location__details__from-only__item
                    span.text-smaller From
                    p.title-big
                        | $320,900
                        sup *

                //2, Only
                .location__details__from-only__item
                    span.text-smaller Only
                    p.title-big 5 lots left

    .location__details__section.bordered

        // CTA
        .location__details__cta

            // DW Plan
            .location__details__cta__item
                a(href='#').btn-green.full Download Masterplan

            // DW Brochure
            .location__details__cta__item
                a(href='#').btn-dark.full Download Brochure
