// Main card
.main-card.dark

    // Header
    .main-card__header
        a(href='#').main-card__new New

        // Add class .main-card__map to your map
        iframe.main-card__map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6444.127356824068!2d146.94427397785878!3d-36.140662770358844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b23e2f03d99ec99%3A0x50579a430a0d3b0!2z0JrQuNC70LvQsNGA0LAg0JLQuNC60YLQvtGA0LjRjyAzNjkxLCDQkNCy0YHRgtGA0LDQu9C40Y8!5e0!3m2!1sru!2sru!4v1546447323662', allowfullscreen='')


    // Body
    .main-card__body

        .main-card__info
            .main-card__location.title-small
                i.icon-marker-sm
                | 5 Charlton Road, Killara, Vic 3691
            .main-card__schedule.title-small-l
                i.icon-marker
                | 12pm to 5pm, Wednesday to Sunday

        .main-card__contacts
            .main-card__contacts__item
                i.icon-phone-outlined
                span.text-smaller-b Gavan Schultz
                a(href='tel:0417125724').text-small 0417 125 724
            .main-card__contacts__item
                i.icon-phone-outlined
                span.text-smaller-b Lisa Howarth
                a(href='tel:0431528710').text-small 0431 528 710
            .main-card__contacts__item
                i.icon-phone-outlined
                span.text-smaller-b Geoff Ross
                a(href='tel:0487640889').text-small 0487 640 889

    // Footer
    .main-card__footer

        .main-card__footer__display
            span.text-smaller-b Homes on Display
            a(href='#') Bianco
            |,
            |
            a(href='#') Astoria
            |,
            |
            a(href='#') Indigo

        .row
            a(href='#').main-card__footer__directions.col-5.bold-fade
                span Get Directions
            a(href='#').main-card__footer__more.col-5.title-small Learn more