
.contact.dark
    .container
        .contact__card.row

            //Image, add background-image: through your backend
            .contact__img

            // Description
            .contact__desc
                h2.text-huge Head Office

                .contact__info.row
                    .contact__info__item.text-small-b
                        i.icon-marker-sm
                        | 21 Bennu Circuit, Thurgoona NSW 2640
                    .contact__info__item.text-small
                        i.icon-marker-sm
                        | 12pm to 5pm, Wednesday to Sunday


                .contact__footer.row
                    .contact__footer__item.col-3
                        a(href='tel:0260574777')
                            i.icon-phone-outlined
                            | (02) 6057 4777

                    .contact__footer__item.col-7
                        a(href='#').title-small.green Contact us
