.main-items.section.no-space-above
    .container

        .main-items__row

            .main-items__item
                include _card

            .main-items__item
                include _card

            .main-items__item
                include _card