
.content-card
  text-align: center

  &.gray-bg
    background: #f6f6f6

  &__body
    padding: 70px 15px 50px
    h2
      margin-bottom: 25px
      color: $dark
    p
      line-height: 28px
      letter-spacing: 1.14px
      color: #5e5e5e

  &__cta
    margin-top: 50px
    a
      color: $green
      i
        margin-right: 10px
      &:hover
        color: $green-hover

//responsiveness
@media (max-width: 767px)
  .content-card

    &__body
      padding: 30px 15px
      h2
        margin-bottom: 15px
      p
        font-size: 14px
        line-height: 24px

    &__cta
      margin-top: 30px

