
.helper-card
  padding: 20px
  height: 100%
  display: flex
  background-repeat: no-repeat
  background-size: cover
  background-position: center
  background-image: url("https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg")
  position: relative
  box-shadow: inset 0 0 0 20px $border-light
  &:before
    content: ''
    position: absolute
    left: 20px
    top: 20px
    right: 20px
    bottom: 20px
    background: rgba(52, 52, 52, 0.55)

  &__content
    text-align: center
    display: flex
    align-items: center
    padding: 40px
    width: 100%
    h4, p, a
      position: relative
      z-index: 2
    p
      margin: 30px auto 50px
      font-weight: 400
      max-width: 450px
    a
      i
        font-size: 12px
        margin-left: 10px
        transition: all .3s
        position: relative
        left: 0
      &:hover i
        left: 10px

    &__box
      width: 100%


