
.main-card
  background: $border-light
  border-bottom: 1px solid $green
  min-height: 100%
  height: 100%
  display: flex
  flex-direction: column

  &__header
    position: relative

  &__new, &__compare
    position: absolute

  &__new
    width: 70px
    line-height: 40px
    background: $green
    color: $white
    font-size: 14px
    font-weight: 500
    text-transform: uppercase
    letter-spacing: 0.39px
    text-align: center
    top: 30px
    left: 30px
    z-index: 2
    &:hover
      background: $green-hover

  &__map
    height: 210px
    width: 100%
    box-shadow: 0 1px 0 0 $green

  &__compare
    right: 10px
    top: 10px
    width: 85px
    line-height: 22px
    border: 1px solid $white
    color: white
    display: block
    font-size: 10px
    font-weight: 700
    text-align: center
    &:hover
      background: $white
      color: $dark

  &__img
    max-height: 210px
    overflow: hidden

  &__body
    text-align: center
    padding: 15px
    flex-grow: 1

  &__title
    line-height: 30px
    margin-bottom: 10px

  &__sub-title
    color: $green

  &__sizes
    display: inline-flex
    color: $gray-text
    margin: 7px 0
    span
      margin: 0 12px
      padding: 8px 0
      cursor: pointer
      &:hover, &.active
        font-weight: 500
        color: $green
      &.active
        border-bottom: 2px solid $green
      &:hover
        color: $green
        font-weight: 500
        letter-spacing: 0

  &__stats
    justify-content: center
    margin: 25px -25px
    position: relative
    padding: 20px 0
    &:before, &:after
      content: ''
      width: 150px
      height: 1px
      position: absolute
      left: 50%
      transform: translateX(-50%)
      background: $green
    &:before
      top: 0
    &:after
      bottom: 0

    &__item
      color: $green
      padding: 0 25px
      i
        margin-right: 10px
        font-size: 22px
      span
        font-size: 20px
        font-weight: 300
        line-height: 26px
        letter-spacing: 1.43px

  &__address, &__designed, &__size-sum
    margin: 12px 0

  &__designed
    font-size: 15px

  &__size-sum
    span:after
      content: 'm'
    sup
      font-size: 8px
      font-weight: 500

  &__location, &__schedule
    position: relative
    padding-left: 30px
    text-align: left
    margin: 15px 0
    i
      position: absolute
      left: 0
      top: -3px
      color: $green
      font-size: 20px

  &__contacts
    padding: 0 0 10px
    display: flex
    flex-wrap: wrap
    align-items: center
    &__item
      position: relative
      text-align: left
      padding-left: 30px
      width: 50%
      margin-top: 10px
      span
        display: block
        margin-bottom: 3px
        text-transform: capitalize
      i
        position: absolute
        left: 0
        top: calc(50% - 10px)
        color: $green
      a:hover
        color: $green

  &__footer

    &__display
      font-size: 18px
      font-weight: 300
      letter-spacing: 0.44px
      text-align: left
      border-top: 1px solid $green
      padding: 15px
      span
        display: block
        text-transform: none
        margin-bottom: 5px
      a:hover
        color: $green

    .row
      border-top: 1px solid $green
      height: 70px

    &__from, &__per-week
      font-size: 12px
      font-weight: 300
      padding: 0 30px
      flex-wrap: wrap
      color: $dark!important
      span
        color: #41a59f
        font-size: 24px
        font-weight: 500
        display: block
        width: 100%
        margin-top: 3px

    &__brochure, &__preview,
    &__explore, &__enquire,
    &__from, &__per-week,
    &__directions, &__more
      min-height: 100%
      display: flex
      align-items: center
      color: $green

    &__brochure, &__preview,
    &__explore, &__enquire,
    &__directions, &__more
      justify-content: center
      cursor: pointer
    &__explore, &__enquire, &__more
      transition: all .3s
      &:hover
        color: $green-hover


    &__explore, &__enquire, &__more
      position: relative
      &:before
        content: ''
        width: 1px
        height: 46px
        background: #d8d8d8
        position: absolute
        left: 0
        top: 12px

    &__brochure, &__preview, &__directions
      position: relative
      &:before
        left: 50%
        top: 50%
        transform: translate(-50%, -49%)

    &__preview

      &:after
        content: ''
        position: absolute
        left: 50%
        top: 100%
        transform: translateX(-50%)
        width: 30px
        height: 12px
        background: url('../img/icons/triangle-green.svg') no-repeat center/contain
        transition: all .3s
        opacity: 0
      &.active
        &:after, &:before
          opacity: 1
        span
          opacity: 0


.home-design-page .main-card
  min-height: auto
  height: auto

//responsiveness
@media (max-width: 1024px)
  .main-card

    &__map
      height: 320px

    &__info
      justify-content: space-between
      display: flex

    &__location, &__schedule
      padding: 0 15px 0 30px

    &__contacts
      flex-wrap: wrap
      padding: 18px 0 0
      position: relative
      margin-top: 15px
      justify-content: space-between
      &:before
        content: ''
        position: absolute
        left: -15px
        right: -15px
        height: 1px
        top: 0
        background: $green

      &__item
        margin: 0
        width: auto


@media (max-width: 767px)
  .main-card

    &__map
      height: 160px

    &__title
      font-size: 24px
      line-height: 34px
      letter-spacing: 0.45px

    &__footer

      &__from, &__per-week
        padding: 0 20px

      &__brochure, &__preview,
      &__explore, &__enquire
        font-size: 16px
      .title-small
        font-size: 16px

    &__info
      flex-wrap: wrap

    &__location, &__schedule
      padding: 0 0 0 30px
      width: 100%
      margin: 5px 0 0
      font-size: 16px

    &__schedule
      margin-top: 15px

    &__contacts

      &__item
        margin: 0
        width: 50%
        &:nth-child(n+3)
          margin-top: 15px

    &__designed
      font-size: 14px


