
.secondary-card
  min-height: 100%
  display: flex
  flex-direction: column
  color: $dark
  &.gray-card
    background: $border-light
    .secondary-card__header
      padding: 20px 20px 0

  h5, &__from-only
    position: relative
    padding-bottom: 25px
    &:before
      content: ''
      position: absolute
      left: 50%
      transform: translateX(-50%)
      bottom: 0
      width: 180px
      height: 1px
      background: $green

  &__img
    max-height: 220px
    overflow: hidden

  &__body
    border: 1px solid $border-light
    padding: 25px 20px 40px
    text-align: center
    flex-grow: 1
    display: flex
    flex-direction: column
    i:not(.icon-right)
      font-size: 40px
      color: $green
      margin-bottom: 30px
    h5
      margin: 0 auto
    p
      margin: 25px 0
      line-height: 26px
      flex-grow: 1

  &__from-only
    padding-top: 20px
    margin-bottom: 25px

    &__row
      display: flex
      justify-content: center
      margin: -5px -15px

    &__item
      padding: 5px 15px
      text-align: left
      span
        font-size: 12px
        font-weight: 400
        display: block
        margin-bottom: 5px
      p
        margin: 0!important
        position: relative
        font-size: 24px!important
        font-weight: 500
        color: $green
        display: inline-block
        sup
          position: absolute
          top: -6px
          right: -6px
      &:last-child
        p, span
          color: $dark

  &__cta
    flex-grow: 1
    display: flex
    justify-content: center
    align-items: flex-end
    a
      color: $green
      i
        margin-left: 10px
        font-size: 12px
      &:hover
        color: $green-hover


//responsiveness
@media (max-width: 1199px)
  .secondary-card__from-only

    &__row
      flex-wrap: wrap

    &__item
      width: 100%
      text-align: center


@media(max-width: 1024px)
  .secondary-card

    &__body
      padding: 25px 20px 30px
      p
        font-size: 14px
        line-height: 20px

    &__from-only

      &__row
        flex-wrap: nowrap

      &__item
        text-align: left
        width: auto
        p
          font-size: 22px!important


@media(max-width: 767px)
  .secondary-card

    &__body
      padding: 20px
      i:not(.icon-right)
        margin-bottom: 20px
      h5
        padding-bottom: 20px
      p
        margin: 20px 0

    &__from-only
      margin-bottom: 20px
      padding: 20px 0