section.page-title.section.text-center
    .container
        h1.title-page Custom designed homes by Davis Sanders
        p.text-big
            | For a custom-designed home that is truly and uniquely yours.
            | Encore by Davis Sanders is the answer. We have been creating distinctive,
            | one off homes ever since we began, and while we're proud of our set plans,
            | we know that often you want a home more personalised and exclusive.