
.overview-services

  &__row
    margin: -15px

  &__item
    padding: 15px
    width: 33.33%


//responsiveness
@media(max-width: 1024px)
  .overview-services

    &__row
      margin: -15px -7.5px

    &__item
      padding: 15px 7.5px
      width: 33.33%


@media(max-width: 767px)
  .overview-services

    &__row
      margin: 0

    &__item
      width: 100%
      padding: 0
      &:nth-child(n+2)
        margin-top: 30px