
.helper-box
  a
    background-image: url("https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg")
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    display: block
    padding: 30px 15px
    color: $white
    text-align: center
    position: relative
    p
      z-index: 2
      position: relative
      font-size: 20px
      font-weight: 400
      letter-spacing: 0.47px
      line-height: 30px
      b
        font-weight: 500
        letter-spacing: 0.38px
    &:after
      content: ''
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      transition: all .3s
      background: rgba(52, 52, 52, 0.45)
    &:hover:after
      background: rgba(52, 52, 52, 0.15)



//responsiveness
@media (max-width: 767px)
  .helper-box
    padding-bottom: 0
    .container
      padding: 0
      b
        display: block
        margin-bottom: 10px


