
.inclusions

  &__desc
    padding-right: 30px
    p
      margin: 30px 0
    a
      i
        font-size: 10px
        margin-left: 15px
      &:hover
        color: $green


  &__img
    max-height: 380px
    overflow: hidden


//responsiveness
@media (max-width: 1024px)
  .inclusions
    &__desc
      width: 35%
      p
        font-size: 16px
        font-weight: 300
        line-height: 26px
        letter-spacing: 0.38px


@media (max-width: 767px)
  .inclusions

    .row
      display: block

    &__desc
      padding-right: 0
      width: 100%
      margin-bottom: 30px
    &__img
      max-height: 100%
      width: calc(100% + 30px)
      position: relative
      left: -15px
