

.overview__content
  padding-top: 0

  .tab-content
    iframe
      width: 100%
      height: 660px

//responsiveness
@media (max-width: 1024px)
  .overview__content

    .tab-content
      iframe
        height: 430px

@media (max-width: 768px)
  .overview__content
    .container
      width: 100%
      padding: 0

@media (max-width: 767px)
  .overview__content
    .tab-content
      iframe
        height: 200px