
.overview__hero

  &__body
    padding: 60px 35px 45px
    background: $border-light

  &__desc
    padding-right: 90px
    p
      line-height: 28px
      letter-spacing: 1.14px

  &__cta
    width: 340px
    .btn-dark
      line-height: 60px
      height: auto
      width: 100%

    &__display-at
      position: relative
      margin-top: 30px
      padding-left: 40px
      i.icon-marker-sm
        color: $green
        font-size: 30px
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
      span, b
        display: block
      span
        text-transform: uppercase
        margin-bottom: 5px
      b
        line-height: 22px

//responsiveness
@media (max-width: 1199px)
  .overview__hero

    &__cta
      width: 280px

    &__body
      padding: 40px 30px

    &__desc
      padding-right: 30px


@media (max-width: 768px)
  .overview__hero .container
    padding: 0
    width: 100%


@media (max-width: 767px)
  .overview__hero
    border-bottom: 1px solid $green

    &__body
      flex-wrap: wrap
      padding: 25px 15px
      p
        font-size: 14px
        line-height: 23px
        letter-spacing: 1px

    &__cta
      width: 100%
      margin-top: 30px
      .btn-dark
        font-size: 14px
        font-weight: 500
        letter-spacing: 0.26px
        line-height: 50px
      &__display-at
        span, b
          font-size: 12px
          font-weight: 500

    &__desc
      padding-right: 0





