.filters.gray-bg
    .container

        // Close btn
        .filters__close.visible-sm
            span.filters__close__btn.btn-round close

        // Form
        form.filters__form

            .filters__form__top.row

                //---- Search by
                include _search-by

                //---- Refine by range
                include _ref-by-range

            //---- Items
            include _items



