.filters__form__items.row.wrap

    //1, Price
    .filters__form__item
        p.text-smaller.dropdown-toggle
            | Price
            i.icon-down

        // Title
        .text-small

            // *** from these inputs you can get value for 'from' and 'to' ***//
            .hidden
                label
                    input#price-amount-from(type='text')
                label
                    input#price-amount-to(type='text')
            #price-range-amount

        // Dropdown content
        .dropdown-content.dropdown-content--range
            .range-desc
                span.text-smaller-b $70k
                span.text-smaller-b $350k
            .range#range-price

    //2, Bedrooms
    .filters__form__item
        p.text-smaller.dropdown-toggle
            | Bedrooms
            i.icon-down

        // Title
        .text-small All

        //  Dropdown content
        .dropdown-content
            .radios-inline
                label.radio
                    | All
                    input(type='radio', name='bedrooms', checked, value='All')
                label.radio
                    | 2
                    input(type='radio', name='bedrooms', value='2')
                label.radio
                    | 3
                    input(type='radio', name='bedrooms', value='3')
                label.radio
                    | 4+
                    input(type='radio', name='bedrooms', value='4+')

    //3, Storey
    .filters__form__item
        p.text-smaller.dropdown-toggle
            | Storey
            i.icon-down

        // Title
        .text-small Both

        // Dropdown content
        .dropdown-content
            .radios-inline
                label.radio
                    | Both
                    input(type='radio', name='storey', checked, value='Both')
                label.radio
                    | 1
                    input(type='radio', name='storey', value='1')
                label.radio
                    | 2
                    input(type='radio', name='storey', value='2')

    //4, Bathrooms
    .filters__form__item
        p.text-smaller.dropdown-toggle
            | Bathroom
            i.icon-down

        // Title
        .text-small Both

        // Dropdown content
        .dropdown-content
            .radios-inline
                label.radio
                    | All
                    input(type='radio', name='bath', checked, value='All')
                label.radio
                    | 1
                    input(type='radio', name='bath', value='1')
                label.radio
                    | 2
                    input(type='radio', name='bath', value='2')
                label.radio
                    | 3
                    input(type='radio', name='bath', value='3')
                label.radio
                    | 4+
                    input(type='radio', name='bath', value='4+')

    //5, item with submit buttons
    .filters__form__item.filters__form__cta
        button(type='submit').btn-dark-sm Find
        button(type='reset').btn.hidden-sm Reset

