
// Refine by range
.ref-by-range.col-7

    //1, title
    .ref-by-range__title
        p.text-smaller Refine by Range

    //2
    .ref-by-range__item.col-3
        label.radio
            input(type='radio', name='by-range')
            img(src='../img/brands/allure.png', alt='allure')

    //3
    .ref-by-range__item.col-3
        label.radio
            input(type='radio', name='by-range')
            img(src='../img/brands/miy.svg', alt='miy2')

    // Helper box with image *** Add background-image through your backend *** ----//
    .helper-box-sm.ref-by-range__item.col-4.hidden-xs
        a(href='').helper-box-sm__link
            span.title-small
                | Looking for land?
                i.icon-right