.search-by.col-3

    // Top (checkboxes)
    .search-by__top.row
        .search-by__title.text-smaller Search by
        label.radio.text-smaller-l
            | Suburb
            input(type='radio', name='search-by', checked).super-b
        label.radio.text-smaller-l
            | Estate
            input(type='radio', name='search-by').estate

    // Bottom (inputs)
    .search-by__bottom.form
        label#estate
            input(type='text', placeholder='Estate')
        label#superb
            input(type='text', placeholder='Suburb')
        label
            input(type='text', placeholder='Home')