
.helper-box.section
    .container

        // *** Add background-image: through your admin panel to change bg
        a(href='#')
            p
                b Looking for land?
                |
                | Talk to us about exclusive blocks of land



