
.overview__hero
    .container

        // Gallery
        .gallery

            // Nav
            .gallery__nav
                .gallery__nav__item.gallery__count.hidden-xs#g1-count
                .gallery__nav__item.gallery__full.visible-xs#g1-full Launch gallery

            //  Items
            #gallery
                img(alt="hero1" src="../img/overview/overview1.png" data-image="../img/overview/overview1.png" data-description="Preview Image 1 Description")
                img(alt="hero2" src="../img/overview/overview2.png" data-image="../img/overview/overview2.png" data-description="Preview Image 2 Description")
                img(alt="hero3" src="../img/overview/overview1.png" data-image="../img/overview/overview1.png" data-description="Preview Image 3 Description")
                img(alt="hero4" src="../img/overview/overview2.png" data-image="../img/overview/overview2.png" data-description="Preview Image 4 Description")



        // Body
        .overview__hero__body.row

            // Left (description)
            .overview__hero__desc
                p.title-small-l
                    | The Ashgrove is a versatile family home that provides
                    | the perfect balance of relaxation and recreation.
                    | A secluded master suite to the front of the home
                    | is the ideal parents escape, while the expansive
                    | living area opening to an alfresco provides
                    | the ultimate space for entertaining.

            //  Right (cta)
            .overview__hero__cta.shrink-0
                a(href='#').btn-dark Enquire about the Indigo
                .overview__hero__cta__display-at
                    i.icon-marker-sm
                    span.text-small-b.green On Display at
                    b.text-small-b 5 Charlton Road, Killara, Vic 3691
