
.inclusions.dark
    .container
        .row.middle.wrap

            // Left (description)
            .inclusions__desc.col-4
                h4.title-smaller-u.green Inclusions

                p.text-huge.i
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    | sed do eiusmod tempor incid idunt ut labore. sit amet, consectetur adi

                a(href='#').text-small-b
                    | Discover more
                    i.icon-right

            // Right (image)
            .inclusions__img.col-6.grow
                img(src='https://picjumbo.com/wp-content/uploads/venice-italy-canal-grande-free-photo-2210x1473.jpg', alt='inclusion')

