section.page-title.section.text-left
    .container
        .page-title__row.row.middle.wrap
            h1.title-page.grow Indiago
            .page-title__img
                img(src='../img/brands/miy.svg', alt='logo-title')