
.popup

    form.popup__form.form.dark

        // Close
        .popup__close
            i.icon-close

        // Header
        .popup__form__header.text-center
            .title-page.green Indigo
            .text-huge.green Enquire


        // Enquire
        .enquire

            // Inputs
            .enquire__inputs.row.middle.wrap.row-15
                .col-5
                    label
                        input(type='text', placeholder='First name')
                .col-5
                    label
                        input(type='text', placeholder='Last name')
                .col-5
                    label
                        input(type='email', placeholder='Email')
                .col-5
                    label
                        input(type='tel', placeholder='Phone')
                .col-5
                    label.select-label
                        select.selectric
                            option Build region
                            option 2
                            option 3
                            option 4
                .col-5
                    label.select-label
                        select.selectric
                            option How did you hear about us?
                            option 2
                            option 3
                            option 4

            // Cta
            .enquire__footer.row
                label.checkbox
                    | I would like to sign-up to receive Davis Sanders updates
                    input(type='checkbox')

                .enquire__submit
                    button(type='submit').btn Enquire


            .enquire__privacy.text-smaller-l
                b Privacy Policy
                |
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                | nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                | in reprehenderit in voluptate velit esse cillum dolore eu
                | fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                | non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

