
.overview-services.section

    .container

        .overview-services__row.row.dark.wrap

            //1
            .overview-services__item
                .secondary-card

                    .secondary-card__header
                        .secondary-card__img
                            img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='serv1')

                    .secondary-card__body
                        h5.title-smaller-b PROMOTIONS
                        p.text-small.i
                            | Lorem ipsum dolor sit amet, conse
                            | ctetur adipiscing elit, sed do eiusmod
                        .secondary-card__cta
                            a(href='#').title-small-l
                                | Learn more
                                i.icon-right

            //2
            .overview-services__item
                .secondary-card

                    .secondary-card__header
                        .secondary-card__img
                            img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='serv2')

                    .secondary-card__body
                        h5.title-smaller-b PROMOTIONS
                        p.text-small.i
                            | Lorem ipsum dolor sit amet, conse
                            | ctetur adipiscing elit, sed do eiusmod
                        .secondary-card__cta
                            a(href='#').title-small-l
                                | Learn more
                                i.icon-right

            //3
            .overview-services__item
                .secondary-card

                    .secondary-card__header
                        .secondary-card__img
                            img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='serv3')

                    .secondary-card__body
                        h5.title-smaller-b PROMOTIONS
                        p.text-small.i
                            | Lorem ipsum dolor sit amet, conse
                            | ctetur adipiscing elit, sed do eiusmod
                        .secondary-card__cta
                            a(href='#').title-small-l
                                | Learn more
                                i.icon-right