
.filters.gray-bg
    .container

        // Close btn
        .filters__close.visible-sm
            span.filters__close__btn.btn-round close

        // Form
        form.filters__form

            .filters__form__top

                // Refine by range
                include _ref-by-range

            // Items
            include _items

            // Apply btn, visible on tablet and mobile
            .filters__form__submit.visible-sm
                button(type='submit').btn-dark Apply Filters


