.filters__form__items.row.wrap

    //1, Price
    .filters__form__item
        p.text-smaller.dropdown-toggle
            | Price
            i.icon-down

        // Title
        .text-small

            // *** from these inputs you can get value for 'from' and 'to' ***//
            .hidden
                label
                    input#price-amount-from(type='text')
                label
                    input#price-amount-to(type='text')
            #price-range-amount

        // Dropdown content
        .dropdown-content.dropdown-content--range
            .range-desc
                span.text-smaller-b $70k
                span.text-smaller-b $350k
            .range#range-price


    //2, Bedrooms
    .filters__form__item
        p.text-smaller.dropdown-toggle
            | Bedrooms
            i.icon-down

        // Title
        .text-small All

        // Dropdown content
        .dropdown-content
            .radios-inline
                label.radio
                    | All
                    input(type='radio', name='bedrooms', checked, value='All')
                label.radio
                    | 2
                    input(type='radio', name='bedrooms', value='2')
                label.radio
                    | 3
                    input(type='radio', name='bedrooms', value='3')
                label.radio
                    | 4+
                    input(type='radio', name='bedrooms', value='4+')

    //3, Storey
    .filters__form__item
        p.text-smaller.dropdown-toggle
            | Storey
            i.icon-down

        // Title
        .text-small Both

        // Dropdown content
        .dropdown-content
            .radios-inline
                label.radio
                    | Both
                    input(type='radio', name='storey', checked, value='Both')
                label.radio
                    | 1
                    input(type='radio', name='storey', value='1')
                label.radio
                    | 2
                    input(type='radio', name='storey', value='2')

    //4, Block Width
    .filters__form__item
        p.text-smaller.dropdown-toggle
            | BLOCK WIDTH
            i.icon-down

        // Title
        .text-small

            //*** from these inputs you can get value for 'from' and 'to' ***//
            .hidden
                label
                    input#width-amount-from(type='text')
                label
                    input#width-amount-to(type='text')
            #width-range-amount

        // Dropdown content
        .dropdown-content.dropdown-content--range
            .range-desc
                span.text-smaller-b 12.5m
                span.text-smaller-b 16m
            .range#range-width


    //5, House size
    .filters__form__item
        p.text-smaller.dropdown-toggle
            | Hose Size
            i.icon-down

        // Title
        .text-small

            // *** from these inputs you can get value for 'from' and 'to' ***//
            .hidden
                label
                    input#size-amount-from(type='text')
                label
                    input#size-amount-to(type='text')
            #size-range-amount

        // Dropdown content
        .dropdown-content.dropdown-content--range
            .range-desc
                span.text-smaller-b 28m
                span.text-smaller-b 35m
            .range#range-size


    //6, Bathrooms
    .filters__form__item
        p.text-smaller.dropdown-toggle
            | Bathroom
            i.icon-down

        // Title
        .text-small Both

        //Dropdown content
        .dropdown-content
            .radios-inline
                label.radio
                    | All
                    input(type='radio', name='bath', checked, value='All')
                label.radio
                    | 1
                    input(type='radio', name='bath', value='1')
                label.radio
                    | 2
                    input(type='radio', name='bath', value='2')
                label.radio
                    | 3
                    input(type='radio', name='bath', value='3')
                label.radio
                    | 4+
                    input(type='radio', name='bath', value='4+')