.ref-by-range

    //1, title
    .ref-by-range__title
        p.text-smaller Refine by Range

    //2
    .ref-by-range__item.col-2
        label.radio
            input(type='radio', name='by-range')
            img(src='../img/brands/allure.png', alt='allure')

    //3
    .ref-by-range__item.col-2
        label.radio
            input(type='radio', name='by-range')
            img(src='../img/brands/miy.svg', alt='miy2')

    // Helper box
    .helper-box-sm.ref-by-range__item.col-6.shrink-0
        .helper-box-sm__card
            .helper-box-sm__img
                img(src='../img/brands/encore.svg', alt='encore')
            .helper-box-sm__desc.title-small-l
                | Can’t find what you are looking for? We do custom designed homes.
                a(href='#').title-small Talk to us today