
.head-office.section
    .container
        .location
            .location__row.row

                // Details (left column)
                .location__details.dark

                    .location__details__section

                        //  Header
                        .location__details__header
                            h2 Head Office
                            p.title-small-l
                                | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                                | nisi ut aliquip ex ea commodo consequat.
                                | Duis aute irure dolor in reprehenderit in voluptate

                        // Info
                        .location__details__info
                            .location__details__address
                                span.text-small-b Address
                                p.text-small 5 Kerr rd, Killara, Vic 3691
                            .location__details__schedule
                                span.text-small-b Opening Hours
                                p.text-small 12pm to 5pm, Wednesday to Sunday
                            .location__details__phone
                                span.text-small-b Phone
                                a(href='tel:1300781816').text-small 1300 781 816


                // Map
                iframe.location__map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6444.127356824068!2d146.94427397785878!3d-36.140662770358844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b23e2f03d99ec99%3A0x50579a430a0d3b0!2z0JrQuNC70LvQsNGA0LAg0JLQuNC60YLQvtGA0LjRjyAzNjkxLCDQkNCy0YHRgtGA0LDQu9C40Y8!5e0!3m2!1sru!2sru!4v1546447323662', allowfullscreen='')

