
.hero
  position: relative
  height: 100vh
  border-bottom: 2px solid $green
  margin-top: -120px

  &:after
    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0))
      content: ''
      width: 100%
      height: 40px
      background: rgba(0, 0, 0, 0.75)
      position: absolute
      bottom: 0
      left: 0
      z-index: 10
      clip-path: polygon(49% 0, 50% 50%, 51% 0, 100% 0, 100% 100%, 0 100%, 0 0)
      -webkit-clip-path: polygon(49% 0, 50% 50%, 51% 0, 100% 0, 100% 100%, 0 100%, 0 0)

  .owl-carousel
    height: 100%
    position: relative
  .owl-stage-outer, .owl-stage, .owl-item, &__item
    height: 100%
  .custom-nav,  .owl-dots
    position: absolute
    left: 50%
    transform: translateX(-50%)
    z-index: 10
  .owl-dots
    bottom: 80px
    display: none
  .owl-dot.active
    background: $white!important

  .owl-item
    &:first-child .hero__item
      background-image: url("https://picjumbo.com/wp-content/uploads/skyscrapers-1080x720.jpg")
    &:nth-child(2) .hero__item
      background-image: url("https://picjumbo.com/wp-content/uploads/coffee-cup-shape-in-coffee-beans-2-1080x721.jpg")
    &:nth-child(3) .hero__item
      background-image: url("https://picjumbo.com/wp-content/uploads/painted-ladies-1080x720.jpg")
    &:last-child .hero__item
      background-image: url("https://picjumbo.com/wp-content/uploads/dogs-and-christmas-gifts-1080x720.jpg")

  &__item
    display: flex
    align-items: center
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    position: relative

    &:after
      content: ''
      position: absolute
      width: 100%
      height: 100%
      left: 0
      top: 0
      background: rgba(62, 62, 62, 0.6)
      z-index: 1

    &__content
      width: 60%
      position: relative
      z-index: 2

    &__logo
      max-width: 500px

    &__desc
      a.title-large
        margin: 5px 0 25px

  .custom-nav
    bottom: 40px
    #carousel-custom-dots
      display: flex

    &__item
      width: 25%
      cursor: pointer
      position: relative
      transition: all .3s
      &:before
        content: ''
        height: 1px
        background: $white
        position: absolute
        left: 0
        top: 0
        width: 100%
        transition: all .3s
      &:nth-child(n+2)
        margin-left: 80px
      span
        display: block
        text-align: center
        padding: 40px 0
      &.active
        span
          font-weight: 500
        &:before
          height: 2px


//responsiveness
@media (max-width: 1199px)
  .hero
    .custom-nav
      display: none
    .owl-dots
      display: block

@media (max-width: 1024px)
  .hero
    margin-top: -63px
    &:after
      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0))
        clip-path: polygon(47% 0, 50% 50%, 53% 0, 100% 0, 100% 100%, 0 100%, 0 0)
        -webkit-clip-path: polygon(47% 0, 50% 50%, 53% 0, 100% 0, 100% 100%, 0 100%, 0 0)

    &__item__content
      width: 100%

@media (max-width: 767px)
  .hero
    margin-top: -53px
    &:after
      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0))
        clip-path: polygon(46% 0, 50% 50%, 54% 0, 100% 0, 100% 100%, 0 100%, 0 0)
        -webkit-clip-path: polygon(46% 0, 50% 50%, 54% 0, 100% 0, 100% 100%, 0 100%, 0 0)
    .owl-dots
      bottom: 60px

    &__item__logo
      max-width: 240px
