
.services

  &__form
    margin-bottom: 30px

    &__inline
      label
        display: flex
        align-items: center
        flex-grow: 1

  &__items
    margin: -15px

  &__item
    padding: 15px
    width: 33.33%
    &:first-child .services__item__card
      background-image: url("https://picjumbo.com/wp-content/uploads/christmas-tree-free-photo-1080x1754.jpg")
    &:nth-child(2) .services__item__card
      background-image: url("https://picjumbo.com/wp-content/uploads/christmas-vertical-photos-1080x1620.jpg")
    &:last-child .services__item__card
      background-image: url("https://picjumbo.com/wp-content/uploads/top-of-the-christmas-tree-1080x720.jpg")

    &__card
      text-align: center
      height: 500px
      display: flex
      align-items: center
      justify-content: center
      position: relative
      transition: all .3s
      bottom: 0
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      &:after
        content: ''
        width: 100%
        height: 100%
        position: absolute
        left: 0
        top: 0
        background: rgba(0, 0, 0, 0.35)
      p
        position: relative
        z-index: 1
        padding: 10px
        &:before, &:after
          content: ''
          position: absolute
          height: 1px
          background: $white
          width: 200px
          left: 50%
          transform: translateX(-50%)
          transition: all .3s
        &:before
          top: 0
        &:after
          bottom: 0

      &:hover p
        &:before
          top: -10px
        &:after
          bottom: -10px


//responsiveness
@media (max-width: 1199px)
  .services__form

    &__inline
      flex-wrap: wrap

    &__submit
      text-align: center
      width: 100%
      margin-top: 30px
      button
        width: 293.3px

@media (max-width: 1024px)
  .services

    &__form

      &__inline
        label
          display: flex
          &:first-child
            width: 100%
            justify-content: center
            margin-bottom: 20px
          &:nth-child(2)
            justify-content: flex-end
            padding-right: 20px
            .ui-button
              margin-left: 0
          &:nth-child(3)
            margin-left: 5px

      &__submit
        button
          width: 210px

    &__item__card
      padding: 36px 0
      height: 100%
      p
        font-size: 20px
        letter-spacing: 0.38px
        line-height: 35px
        &:before, &:after
          width: 170px

@media (max-width: 767px)
  .services

    &__form

      &__inline
        label
          justify-content: center
          font-size: 20px
          position: relative
          &:first-child
            margin-bottom: 10px
          i.icon-down
            color: $green
            font-size: 14px
            margin-right: 5px
          &:nth-child(2)
            width: 100%
            justify-content: center
            margin-bottom: 10px
            padding-right: 0
          &:nth-child(3)
            width: 58%
            margin-left: 0
            justify-content: flex-end

      &__submit
        width: 42%
        margin-top: 0
        justify-content: flex-start
        text-align: left
        padding-left: 10px
        button
          width: 90px
          height: 30px
          font-size: 14px
          line-height: 30px

    &__items
      margin: -7.5px -15px

    &__item
      width: 100%
      padding: 7.5px 15px

      &__card
        p
          font-size: 24px
          line-height: 36px
          letter-spacing: 0.56px
          &:before, &:after
            width: 200px
