
.portfolio
  a
    color: $green
    &:hover
      color: $green-hover
  .owl-dots
    margin-top: 45px

  &__item
    background-image: url("https://picjumbo.com/wp-content/uploads/vintage-fairytale-houses-in-austrian-mountains-1080x720.jpg")
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    overflow: hidden
    height: 540px
    &:before
      content: ''
      position: absolute
      left: -1px
      top: 0
      bottom: -1px
      width: 60%
      background: $white-op
      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0))
        clip-path: polygon(55% 0, 100% 100%, 0 100%, 0 0)
        -webkit-clip-path: polygon(55% 0, 100% 100%, 0 100%, 0 0)
        width: 720px

    &__content
      color: $dark
      position: relative
      width: 60%
      padding: 50px
      display: flex
      flex-direction: column
      height: 100%
      @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0))
        width: 490px

    &__logo
      width: 250px

    &__desc
      margin-top: 45px
      flex-grow: 1



//responsiveness
@media (max-width: 767px)
  .portfolio

    a
      color: $green
      &:hover
        color: $green-hover

    .owl-dots
      margin-top: 15px

    &__item
      padding-top: 100px
      height: 360px
      &:before
        width: calc(100% + 2px)
        top: 100px
        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0))
          top: 0
          -webkit-clip-path: polygon(0 10%, 100% 150px, 100% 100%, 0% 100%)
          clip-path: polygon(0 10%, 100% 150px, 100% 100%, 0% 100%)

      &__content
        width: 100%
        padding: 30px 15px 20px

      &__logo
        width: 120px

      &__desc
        margin: 15px 0 0


