
.promo
  p.text-normal
    margin-top: 15px
    span
      display: block

  &__left
    width: 45%
    flex-grow: 1
    p
      max-width: 420px
      margin: 15px auto 0

  &__right
    width: 55%
    border-left: 2px solid $dark
    padding: 15px 0 15px 30px

    &__img
      margin-right: 30px
      width: 250px


//responsiveness
@media (max-width: 1199px)
  .promo

    &__row
      flex-wrap: wrap

    &__column
      width: 100%
    &__left
      padding-bottom: 45px
      p
        max-width: 520px

    &__right
      border-left: none
      padding: 45px 0 0
      justify-content: center
      position: relative
      &:before
        content: ''
        position: absolute
        left: 50%
        top: 0
        transform: translateX(-50%)
        height: 1px
        background: $dark
        width: 470px
      &__img
        width: 170px

@media (max-width: 767px)
  .promo

    &__left
      padding-bottom: 30px

    &__right
      padding: 30px 0 0
      flex-wrap: wrap
      &:before
        width: 100%
      &__img
        margin: 0 auto
      &__desc
        width: 100%
        margin-top: 30px
