
.testimonials
  .section
    border-bottom: 1px solid $border-light

  &__desc
    width: 45%
    padding-right: 120px
    p
      margin: 25px 0 15px
      letter-spacing: 0.84px
      &:after, &:before
        content: '"'

  &__player
    width: 55%
    position: relative
    iframe
      width: 100%
      height: 380px
      display: block

    &__control
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
      background: rgba(0, 0, 0, 0.35)
      display: flex
      align-items: center
      justify-content: center
      p
        display: flex
        align-items: center
        cursor: pointer
        i
          margin: 0 25px
          transition: all .3s
          font-size: 50px
        &:hover i
          transform: scale(1.1)


//responsiveness
@media (max-width: 1199px)
  .testimonials

    &__column
      width: 100%

    &__desc
      padding-right: 0
      margin-bottom: 30px
      text-align: center

@media (max-width: 1024px)
  .testimonials__desc
    max-width: 480px
    margin: 0 auto 30px

@media (max-width: 767px)
  .testimonials

    &__desc
      text-align: left
      max-width: 420px
      margin: 0 auto 30px

    &__player
      iframe
        height: 200px

