
.filters
  z-index: 30
  padding: 50px 0 30px

  &__close
    margin-bottom: 30px
    span.btn-round
      margin-left: auto

  &__form

    &__top .ref-by-range.col-7
      width: calc(70% + 30px)

    &__items
      border-top: 1px solid $border
      padding-top: 30px
      margin-top: 30px
      justify-content: space-between

    &__item
      position: relative
      p.dropdown-toggle
        cursor: pointer
        transition: all .3s
        display: inline-block
        margin-bottom: 10px
        i
          display: inline-block
          margin-left: 10px
          color: $green
          transition: all .5s
        &:hover, &.active
          color: $green
        &.active
          i
            transform: rotate(180deg)

      .text-small
        text-transform: capitalize
        min-width: 110px

      .dropdown-content
        padding: 20px
        background: $gray-section
        position: absolute
        left: 0
        top: calc(100% + 30px)
        display: none
        z-index: 30
        .range-desc
          display: flex
          justify-content: space-between
          margin: 0 -5px 15px -8px
          span
            display: block
        &--range
          width: 270px
          padding: 15px 25px 20px

        .range.ui-slider
          height: 4px
          border: none
          display: block
          position: relative
          width: calc(100% - 14px)
          left: 9px
          .ui-slider-range
            background: $green
          .ui-slider-handle
            width: 14px
            height: 14px
            background: $dark!important
            border-radius: 50%
            border-color: $dark!important

      &:last-child
        .dropdown-content
          left: auto
          right: 0

    &__cta
      button
        width: 140px
        &:last-child
          margin-left: 20px


.house-land-page .filters__form__items
  padding: 30px 100px 0

//responsiveness
@media (max-width: 1199px)
  .house-land-page .filters__form__items
    padding: 30px 0 0

@media (max-width: 1024px)
  .filters
    position: fixed
    top: 63px
    left: 0
    bottom: 0
    width: 100%
    height: calc(100% - 63px)
    overflow-y: auto
    padding: 30px 0 70px
    display: none

    &__form
      border-top: none
      margin-top: 30px
      padding-top: 0

      &__top
        flex-wrap: wrap
        .ref-by-range.col-7
          width: calc(100% + 30px)

      &__item
        width: calc(50% - 40px)
        display: flex
        flex-direction: column
        height: 65px
        &:nth-child(even)
          margin-left: 40px
        &:nth-child(odd)
          margin-right: 40px
        &:nth-child(n+3)
          margin-top: 25px

        .text-small
          text-transform: capitalize
          position: absolute
          right: 0
          top: 3px
          min-width: 0

        p.dropdown-toggle
          cursor: default
          i
            display: none
          &:hover
            color: $dark

        .text-small
          font-weight: 500
          color: $green

        .dropdown-content
          padding: 0!important
          position: relative
          top: 0
          display: flex!important
          .range-desc
            display: none
          &--range
            width: 100%
            position: relative
            margin: 0 auto
            flex-grow: 1
            align-items: center
          .range.ui-slider
            width: 100%
            left: 0
            .ui-slider-handle
              width: 25px
              height: 25px
              top: -10px
              margin: 0
              &:last-child
                margin-left: -25px

      &__submit, &__cta
        position: fixed
        bottom: 0
        left: 0
        width: 100%
        z-index: 100
        margin: 0
        height: auto
        button
          width: 100%
          margin: 0


@media (max-width: 767px)
  .filters
    top: 53px
    height: calc(100% - 53px)
    -ms-overflow-style: none
    -webkit-overflow-scrolling: touch

    &__form

      &__top
        display: block
        .ref-by-range.col-7
          width: calc(100% + 10px)
          margin: 0 -5px

      &__item
        width: 100%
        &:nth-child(even)
          margin-left: 0
        &:nth-child(odd)
          margin-right: 0
        &:nth-child(n+2)
          margin-top: 25px