
.ref-by-range
  display: flex
  margin: -15px
  label.radio
    cursor: pointer
    transition: all .3s
    background: $white
    padding: 20px 30px
    display: flex
    align-items: center
    height: 100%
    border: 2px solid $white
    &.checked
      border-color: $dark

  &__title, &__item
    display: flex
    padding: 15px

  &__title
    padding: 15px
    width: 100px
    flex-shrink: 0
    align-self: flex-start

  .helper-box-sm
    &__link
      background-image: url("https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg")
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      position: relative
      display: block
      width: 100%
      height: 100%
      &:before, span
        position: absolute
      &:before
        content: ''
        width: 100%
        height: 100%
        position: absolute
        left: 0
        top: 0
        background: rgba(52, 52, 52, 0.45)
        transition: all .3s
      span
        left: 0
        top: 50%
        color: $white
        transform: translateY(-50%)
        display: block
        text-align: center
        width: 100%
        i
          font-size: 12px
          margin-left: 15px
      &:hover:before
        background: rgba(52, 52, 52, 0.15)

  .helper-box-sm

    &__card
      background: $white
      display: flex
      align-items: center
      padding: 15px 30px
      overflow: hidden

    &__desc
      padding-left: 40px
      line-height: 26px
      color: $green
      a:hover
        color: $green-hover

    &__img
      width: 140px
      flex-shrink: 0


//responsiveness
@media (max-width: 1199px)
  .ref-by-range
    margin: -5px
    &__title, &__item
      padding: 5px

@media (max-width: 1024px)
  .ref-by-range
    flex-wrap: wrap
    margin: -5px
    label.radio
      padding: 15px

    &__title, &__item
      padding: 5px

    &__title
      width: 100%
      margin-bottom: 10px

    .helper-box-sm
      flex-wrap: wrap

      &__card
        padding: 15px

      &__desc, &__desc a
        font-size: 12px
        font-weight: 300
        line-height: 17px
        letter-spacing: 0.59px

      &__desc
        padding-left: 15px
        a
          font-weight: 500

      &__img
        width: 100px

@media (max-width: 767px)
  .ref-by-range
    label.radio
      width: 100%
      padding: 15px 20px

    .col-2, .col-3
      width: 50%!important
      flex-grow: 1!important

    .helper-box-sm
      width: 100%

      &__card
        width: 100%
        flex-wrap: wrap

      &__desc
        text-align: center
        padding: 0 5px
        width: 100%
        a
          display: block

      &__img
        width: 100px
        margin: 0 auto 15px

