
.search-by
  padding-right: 30px
  height: 100%
  display: flex
  flex-direction: column

  &__top
    margin-bottom: 35px
    label.radio
      padding-left: 22px
      position: relative
      cursor: pointer
      margin-left: 15px
      line-height: 12px
      &:before, &:after
        content: ''
        position: absolute
        transition: all .3s
      &:before
        width: 16px
        height: 16px
        border-radius: 50%
        background: #d8d8d8
        left: 0
        top: -2px
      &:after
        content: ''
        left: 3px
        top: 1px
        width: 10px
        height: 10px
        background: url("../img/icons/checkmark.svg") no-repeat center/contain
        opacity: 0
      &.checked
        &:before
          background: $green
        &:after
          opacity: 1

  &__bottom
    display: flex
    margin: 0 -15px
    label
      padding: 0 15px
      flex-grow: 1
      input
        height: 32px
        padding-left: 10px
        font-size: 12px
        letter-spacing: 0.23px
        border: 1px solid $white
        width: 100%
        opacity: 0
        transform: translateY(10px)
        animation: fade-sides .5s forwards
      &#estate
        display: none


//responsiveness
@media (max-width: 1024px)
  .search-by
    width: 100%
    margin-bottom: 30px
    padding-right: 0
    &__top
      margin-bottom: 20px
      flex-wrap: wrap
      label.radio:nth-child(2)
        margin-left: 0
    &__title
      width: 100%
      margin-bottom: 20px
    &__bottom
      margin: 0 -10px
      label
        padding: 0 5px
