
.view-all-btn, .btn, .btn-green,
.btn-sm, .btn-big, .btn-xs
  cursor: pointer
  font-size: 16px
  font-weight: 500
  padding: 0
  span
    font-size: inherit
    font-weight: inherit

.view-all-btn
  border: 1px solid $dark
  color: $dark
  width: 100%
  height: 100%
  display: flex
  align-items: center
  justify-content: center
  &:hover
    background: $dark
    color: $white

.btn, .btn-green, .btn-sm,
.btn-big, .btn-xs
  border: 1px solid $green
  transition: all .3s
  border-radius: 0
  text-transform: capitalize
  text-align: center
  background: none
  height: 50px
  line-height: 50px

.btn-green
  color: $white
  background: $green
  &:hover
    background: $green-hover


.btn, .btn-sm, .btn-xs
  color: $green
  &:hover
    color: $white
    background: $green

.btn-sm
  width: 250px

.btn-xs
  width: 136px
  line-height: 35.5px

.btn-flat
  background: $gray-section
  line-height: 60px
  color: $dark
  width: 170px
  text-align: center
  transition: all .3s
  display: inline-block
  cursor: pointer
  &:hover
    background: $gray-section-hover
  &.green-bg
    background: $green
    color: $white
    &:hover
      background: $green-hover

.btn-round, .btn-round-green
  width: 136px
  line-height: 40px
  border-radius: 25px
  font-size: 16px
  font-weight: 500
  letter-spacing: 0.3px
  display: block
  text-align: center
  transition: all .3s
  cursor: pointer

.btn-round
  border: 1px solid $green
  color: $green
  &:hover
    color: $white
    background: $green

.btn-round-green
  background: $green
  &:hover
    background: $green-hover

.btn-dark, .btn-dark-sm
  height: 50px
  background: $dark
  color: $white
  font-size: 16px
  font-weight: 500
  letter-spacing: 0.3px
  cursor: pointer
  line-height: 50px
  padding: 0 15px
  width: 300px
  text-align: center
  transition: all .3s
  border: none
  &:hover
    background: $dark-hover

.btn-dark-sm
  width: auto



//responsiveness
@media (max-width: 1199px)
  .view-all-btn
    height: 50px!important

  .btn, .btn-green,
  .btn-sm, .btn-big
    height: 50px!important

@media (max-width: 767px)
  .view-all-btn, .btn, .btn-green,
  .btn-sm, .btn-big
    width: 100%

  .btn, .btn-green,
  .btn-sm, .btn-big,
  .view-all-btn
    font-size: 14px
    letter-spacing: 0.26px
    line-height: 50px!important

  .btn-round
    width: 90px
    line-height: 28px
    font-size: 14px
    letter-spacing: 0.26px

  .btn-dark, .btn-dark-sm
    font-size: 14px


