
.owl-wrapper, .owl-item
  -webkit-backface-visibility: hidden!important
  -moz-backface-visibility: hidden!important
  -ms-backface-visibility: hidden!important
  -webkit-transform: translate3d(0, 0, 0)!important
  -moz-transform: translate3d(0, 0, 0)!important
  -ms-transform: translate3d(0, 0, 0)!important

.owl-dots
  display: flex
  align-items: center
  justify-content: center
  margin-top: 15px!important
  .owl-dot
    margin: 0 10px!important
    width: 14px!important
    height: 14px!important
    border-radius: 50%!important
    display: inline-block!important
    background: rgba(216, 216, 216, 0.65)!important
    border: none!important
    span
      display: none!important
    &.active
      background: $dark!important

//responsiveness
@media (max-width: 767px)
  .owl-dots
    .owl-dot
      width: 8px!important
      height: 8px!important
      margin: 0 7px!important