
.contact
  padding-bottom: 50px

  &__img
    width: 370px
    height: 208px
    flex-shrink: 0
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    background-image: url("https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg")

  &__desc
    background: #f6f6f6
    flex-grow: 1
    border-bottom: 1px solid $green
    display: flex
    flex-direction: column
    h2
      padding-left: 15px
      height: 80px
      display: flex
      align-items: center

  &__info
    border-top: 1px solid $green
    border-bottom: 1px solid $green
    padding: 20px 0 20px 15px

    &__item
      width: 50%
      padding-left: 35px
      position: relative
      i
        position: absolute
        left: 0
        top: -5px
        font-size: 22px
        color: $green
        margin-right: 15px

  &__footer
    flex-grow: 1
    align-items: center
    padding-left: 15px

    &__item
      text-align: center
      a:hover
        color: $green-hover
      &:first-child
        position: relative
        &:before
          content: ''
          position: absolute
          width: 1px
          height: 45px
          background: #d8d8d8
          right: 0
          top: 50%
          transform: translateY(-50%)
        a
          font-size: 14px
          font-weight: 300
          letter-spacing: 0.39px
          i
            margin-right: 15px
            position: relative
            top: 1px
            color: $green
          &:hover
            color: $green


//responsiveness
@media (max-width: 1024px)

  .contact
    padding-bottom: 35px

    &__img
      width: 276px
      height: 228px

    &__info
      flex-wrap: wrap
      padding: 15px

      &__item
        width: 100%
        &:nth-child(n+2)
          margin-top: 15px

    &__footer

      &__item
        width: 50%


@media (max-width: 767px)

  .contact

    &__card
      flex-wrap: wrap

    &__img
      width: 100%
      height: 160px

    h2
      height: 70px
      font-size: 20px
      font-weight: 300
      letter-spacing: 0.49px

    &__footer
      padding: 15px
      flex-wrap: wrap

      &__item
        width: 50%
        text-align: left
        &:first-child
          width: 100%
          &:before
            display: none
        &:nth-child(n+2)
          margin-top: 15px
        &:last-child a
          font-size: 16px




