
.enquire-box
  text-align: center
  h2
    margin-bottom: 25px
  p
    line-height: 28px
    letter-spacing: 1.14px

  a
    width: 230px
    margin-top: 30px


//responsiveness
@media (max-width: 767px)
  .enquire-box a
    width: 100%