
.enquire

  .container
    max-width: 880px

  &__header
    margin-bottom: 30px

  &__inputs
    .col-5, .full
      padding: 15px
    label
      width: 100%
      position: relative
      input, .selectric
        background: $white

    .selectric-items
      li
        text-align: left
        padding-left: 20px
      .selectric-scroll
        border: 1px solid $green
        border-top: none


    .selectric-wrapper
      transition: all .3s
      &.selectric-open
        .selectric
          border-color: $green
      .selectric
        border: 1px solid $border
      span.label
        height: 50px
        display: flex
        align-items: center
        font-size: 14px
        color: $gray
        letter-spacing: 0.26px
        margin: 0
        padding-left: 20px
      b
        background: url("../img/icons/down-dark.svg") no-repeat center/contain
        width: 15px
        height: 15px
        right: 15px
        top: calc(50% - 7.5px)
        &:after
          display: none

  &__footer
    align-items: center
    margin-top: 30px
    label.checkbox
      flex-grow: 1
      position: relative
      padding-left: 40px
      font-size: 14px
      font-weight: 300
      letter-spacing: 0.51px
      color: #848484
      cursor: pointer
      &:before, &:after
        content: ''
        position: absolute
        transition: all .3s
        top: 50%
      &:before
        width: 30px
        height: 30px
        border: 1px solid $green
        top: 50%
        left: 0
        transform: translateY(-50%)
      &:after
        width: 15px
        height: 15px
        background: url('../img/icons/checkmark.svg') no-repeat center/contain
        left: 8px
        opacity: 0
        transform: scale(0) rotate(90deg) translateY(-50%)
      &.checked
        &:before
          background: $green
        &:after
          opacity: 1
          transform: scale(1) rotate(0) translateY(-50%)

    &:not(.row) .enquire__submit
      margin-top: 50px
      text-align: center
      button
        width: 230px

  &__helper-text
    margin-top: 45px
    p
      color: $gray



//responsiveness
@media (max-width: 767px)
  .enquire

    &__inputs
      &.row-15
        margin: 0
      .col-5
        width: 100%
        padding: 0
        &:nth-child(n+2)
          margin-top: 15px

    &__footer
      flex-wrap: wrap

    &__submit
      width: 100%
      margin-top: 30px!important
      button
        width: 100%!important


