
.faq

  h2.title-section
    margin-bottom: 35px

  &__accord__item
    border-top: 2px solid $dark
    transition: all .3s

    &:last-child
      border-bottom: 2px solid $dark

    &__title
      padding: 20px 40px 20px 25px
      position: relative
      cursor: pointer
      transition: all .3s
      &:after
        content: '+'
        position: absolute
        right: 20px
        top: 50%
        transform: translateY(-50%)
        font-size: 24px
        font-weight: 300
      p
        line-height: 22px
        &:before
          word-break: normal
          white-space: normal
          letter-spacing: 0.15px
          color: $dark

    &__body
      line-height: 26px
      padding: 0 25px 20px
      display: none

    &.active
      background: $white
      .faq__accord__item__title
        p
          span
            opacity: 0
          &:before
            opacity: 1
        &:after
          content: '-'

.custom-build-page .faq
  margin-top: 50px

//responsiveness
@media (max-width: 767px)
  .faq__accord__item

    &__title
      padding: 15px 50px 15px 15px

    &__body
      padding: 0 15px 15px

  .custom-build-page .faq
    margin-top: 35px





