
.gallery
  position: relative

  &__nav
    position: absolute
    right: 20px
    top: 20px
    display: flex
    z-index: 10
    &__item
      background: rgba(52, 52, 52, 0.75)
      color: $white
      font-size: 14px
      font-weight: 500
      letter-spacing: 0.26px
      padding: 12px
      margin-left: 1px
      &:first-child
        width: 80px
        text-align: center
      &:last-child
        cursor: pointer

.ug-gallery-wrapper
  width: 100%!important
  max-width: 100%!important

//responsiveness
@media (max-width: 767px)
  .gallery

    &__nav
      width: 100%
      height: 100%
      top: 0
      right: 0
      background: none
      align-items: center
      justify-content: center
      &__item
        text-align: center
        background: rgba(30, 59, 73, 0.8)
        border-radius: 20px
        overflow: hidden
        width: 180px

  .ug-slider-control
    display: none!important


