
.location

  &__row
    border: 1px solid $border-light

  &__map, &__card
    min-height: 100%
    width: 58%
    flex-shrink: 0

  &__map
    background: $blue-dark
    min-height: 500px

  &__card
    background: $border-light
    padding: 25px
    display: flex
    flex-direction: column

    &__map
      height: 280px
      width: 100%
      box-shadow: 0 0 0 1px $green
    &__form
      margin: 30px 0 15px
      position: relative
      label
        font-size: 14px
        font-weight: 500
        line-height: 24px
        letter-spacing: 0.79px
        input
          margin-top: 5px
      button
        position: absolute
        right: 0
        bottom: 0
        width: 140px

    &__info
      margin-bottom: 30px
      p
        color: #5e5e5e
        font-size: 12px
        font-weight: 400
        line-height: 22px
        letter-spacing: 0.86px

    &__cta
      flex-grow: 1
      display: flex
      align-items: flex-end
      a
        width: 100%

  &__details
    padding: 30px 0 25px
    flex-grow: 1
    width: 42%
    display: flex
    flex-direction: column

    &__section
      padding: 0 20px
      &.bordered
        border-top: 1px solid $border-light
      &.grow
        flex-grow: 1
        display: flex
        align-items: center
        .location__details

          &__info
            width: 100%

          &__from-only
            margin-bottom: 0

    &__header
      h2
        margin-bottom: 10px
        font-size: 24px
        font-weight: 300
        line-height: 28px
        letter-spacing: 1.5px
        color: $blue-dark
      p
        line-height: 28px

    &__logo
      max-width: 256px
      margin: 10px auto 40px

    &__info
      margin: 30px 0
      span
        margin-bottom: 5px
        display: block
      a:hover
        color: $green

    &__schedule, &__phone
      margin-top: 25px

    &__contacts
      display: flex
      margin: -5px -15px
      padding-top: 25px
      flex-wrap: wrap
      &__item
        width: 33.33%
        padding: 5px 15px
        a
          span
            margin-bottom: 5px
            display: block
          &:hover
            color: $green

    &__from-only
      display: flex
      margin: 25px 0 30px
      justify-content: space-between
      flex-wrap: wrap
      span
        text-transform: none
      p
        color: $green
        font-weight: 500
        position: relative
        display: inline-block
        sup
          position: absolute
          right: -10px
          top: -5px

    &__items
      display: flex
      margin: 30px -15px -10px
      flex-wrap: wrap

      &__item
        width: 50%
        padding: 10px 15px

      &__card
        text-align: center
        &__img
          overflow: hidden
        span
          padding: 15px
          display: block
          color: $green
          font-size: 20px
          font-weight: 300
          letter-spacing: 0.49px
          background: $border-light
          transition: all .3s
        &:hover span
          background: $green
          color: $white

    &__cta
      padding-top: 30px
      flex-grow: 1

      &__item:nth-child(n+2)
        margin-top: 30px


.head-office .location__details__section.bordered
  margin-top: 30px

.contact-page .location

  &__row
    border: none

  &__details
    padding: 0

    &__section
      padding-left: 0

    &__info
      span, p
        font-size: 16px
      span
        margin-bottom: 7px


//responsiveness
@media (max-width: 1199px)
  .location__details

    &__contacts__item
      width: 50%

    &__from-only__item
      width: 100%
      &:nth-child(n+2)
        margin-top: 10px

@media (max-width: 1024px)
  .location
    margin-bottom: 35px

    &__row
      flex-wrap: wrap

    &__card, &__map
      width: 100%

    &__card
      padding: 15px

    &__details
      padding: 15px 0

      &__info--estate
        display: flex
        margin: 30px 0 20px

        .location__details__address
          width: 33.33%
          span
            margin-bottom: 15px

      &__from-only
        width: 66.66%
        flex-grow: 1
        margin: 0
        padding-left: 30px

        &__item
          width: 50%
          margin: 0!important
          span
            margin-bottom: 0
          p
            font-size: 28px

      &__section
        padding: 0 15px

      &__contacts__item
        width: 25%

      &__items__item
        width: 33.33%

      &__cta
        display: flex
        padding-top: 15px
        margin: 0 -15px

        &__item
          width: 50%
          padding: 15px

          &:nth-child(n+2)
            margin-top: 0

@media (max-width: 767px)
  .location

    &__row
      border: none

    &__card
      padding: 15px 0
      box-shadow: 15px 0 0 0 $border-light, -15px 0 0 0 $border-light

      &__map
        height: 170px

      &__form
        margin: 15px 0
        position: relative
        button
          position: relative
          margin-top: 15px

      &__info
        margin-bottom: 15px

    &__details
      padding: 0
      margin-bottom: 15px

      &__logo
        margin: 0 auto 30px
        max-width: 170px

      &__info--estate
        display: block
        margin: 15px 0 10px

        .location__details__address
          width: 100%
          span
            margin-bottom: 5px

      &__from-only
        width: 100%
        padding-left: 0
        margin-top: 15px
        &__item
          width: auto
          span
            font-weight: 300
          p
            font-size: 22px

      &__section
        padding: 0

      &__header p
        font-size: 14px
        line-height: 23px
        letter-spacing: 1px
        margin-top: 15px

      &__contacts
        flex-wrap: wrap

        &__item
          width: 50%

      &__items
        flex-wrap: wrap

        &__item
          width: 100%

      &__cta
        flex-wrap: wrap
        margin: 0

        &__item
          width: 100%
          padding: 0
          &:nth-child(n+2)
            margin-top: 15px!important
