
.main-items

  .title-section.text-center
    margin-bottom: 45px

  &__header
    margin-bottom: 50px

    &__compare
      b
        color: $green

    &__sort
      position: relative
      .dropdown-toggle
        transition: all .3s
        cursor: pointer
        &:hover
          color: $green
        i.icon-down
          font-size: 12px
          color: $green
          margin-left: 15px
          transition: all .5s
          display: inline-block
        &.active i
          transform: rotate(180deg)
      .dropdown-content
        display: none
        position: absolute
        right: 0
        width: 100%
        max-width: 200px
        top: 100%
        border: 1px solid $border-light
        background: $white
        z-index: 10
        li
          text-align: center
          font-size: 16px
          font-weight: 300
          letter-spacing: 0.3px
          padding: 7.5px 15px
          transition: all .3s
          cursor: pointer
          &:hover, &.active
            color: $white
            background: $green
            border: none
            margin: 0

  &__row
    display: flex
    flex-wrap: wrap
    margin: -15px
    position: relative

  &__item
    width: 33.33%
    padding: 15px
    .preview
      width: 1140px
      display: none
      position: absolute
      left: 15px
      right: 15px
      z-index: 10


//responsiveness
@media (max-width: 1199px)
  .main-items .preview
    width: 940px


@media (max-width: 1024px)
  .main-items

    &:not(&--recommended)
      padding-top: 0

    &__header, .title-section.text-center
      margin-bottom: 35px

    &__item
      width: 50%
      .preview
        width: 690px


@media (max-width: 767px)
  .main-items__item
    width: 100%
    .preview
      width: calc(100% - 30px)