
.popup
  position: fixed
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: rgba(52, 52, 52, 0.85)
  align-items: center
  justify-content: center
  z-index: 1000
  display: none

  &__close
    position: absolute
    right: 20px
    top: 20px
    color: $gray
    transition: all .3s
    cursor: pointer
    &:hover
      color: $green

  &__form
    background: $white
    padding: 55px 100px
    width: 970px
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

    &__header
      margin-bottom: 30px
      .text-huge
        margin-top: 15px

    .enquire

      &__inputs input, .selectric
        background: $border-light

      &__submit button
        width: 170px

      &__privacy
        margin-top: 30px
        line-height: 18px
        b
          font-weight: 500


//responsiveness
@media (max-width: 1024px)
  .popup__form
    padding: 30px 20px
    width: calc(100% - 30px)


@media (max-width: 767px)
  .popup__form
    height: 90%
    overflow-y: auto
    padding: 20px 15px
    -ms-overflow-style: none
    -webkit-overflow-scrolling: touch
    &__header
      .text-huge
        font-size: 16px


