
.preview
  padding: 40px 35px
  background: $border-light

  &__header
    margin-bottom: 60px

    &__sizes
      margin-left: 40px
      li
        font-size: 24px
        font-weight: 300
        letter-spacing: 0.38px
        color: $green
        line-height: 60px
        width: 60px
        text-align: center
        background: $white
        cursor: pointer
        margin: 0 0.5px
        transition: all .3s
        &:hover, &.active
          background: $green
          color: $white

    &__right
      display: flex
      align-items: stretch

    &__reset
      button
        width: 136px
        height: 60px

    &__nav
      background: $white
      min-height: 100%
      display: flex
      align-items: center
      padding: 0 10px
      span
        display: inline-block
        margin: 0 10px
        color: $green
        transition: all .3s
        cursor: pointer
        i
          font-size: 25px
          display: block
          &:before
            display: block
        &:hover
          color: $green-hover


  &__body
    align-items: flex-start

  &__desc
    background: $white
    max-width: 300px

    &__stats
      justify-content: center
      position: relative
      padding: 10px 0

      &__item
        color: $green
        padding: 15px
        display: flex
        i
          margin-right: 10px
          font-size: 24px
        span
          font-size: 20px
          font-weight: 300
          letter-spacing: 1.43px

    &__item
      h4, h5, table, p
        padding: 0 20px
      h4, h5
        padding: 18px 20px
      h4
        border-top: 2px solid $green
        color: $green
        position: relative
        i
          position: absolute
          right: 20px
          top: 50%
          transform: translateY(-50%)
      table
        width: 100%
        td
          line-height: 26px
          font-size: 14px
          font-weight: 300
          letter-spacing: 0.26px
          &:last-child
            text-align: right
      p.text-smaller-l
        margin: 25px 0
        line-height: 20px

    &__content
      border-top: 2px solid $green
      padding-bottom: 20px
      &.accord-body
        display: none

    .accord-title
      cursor: pointer
      transition: all .3s
      i
        font-style: normal
      &:hover
        color: $green-hover

    &__info
      padding: 20px
      border-top: 2px solid $green
      p
        line-height: 16px
        &:before
          content: '*'

    &__checkboxes
      padding: 0 20px
      label.checkbox
        display: block
        font-size: 14px
        font-weight: 500
        transition: all .3s
        cursor: pointer
        padding-left: 40px
        position: relative
        &:before, &:after
          position: absolute
          content: ''
          transition: all .3s
        &:before
          width: 24px
          height: 24px
          background: $border-light
          left: 0
          top: calc(50% - 13px)
        &:after
          background: url("../img/icons/checkmark.svg") no-repeat center/contain
          width: 12px
          height: 12px
          left: 6px
          top: 1px
          z-index: 2
          opacity: 0
          transform: scale(0) rotate(90deg)

        &:nth-child(n+2)
          margin-top: 15px
        &.checked, &:hover
          color: $green
        &.checked
          &:before
            background: $green
          &:after
            opacity: 1
            transform: scale(1) rotate(0)

  &__image
    flex-grow: 1
    img
      max-width: 450px
      margin: 0 auto

  &__bottom-text
    font-size: 12px
    font-weight: 400
    letter-spacing: 0.23px
    line-height: 20px
    color: $green
    margin-top: 50px


//responsiveness
@media (max-width: 1024px)
  .preview
    position: relative

    &__header
      margin-bottom: 0
      flex-wrap: wrap

      &__sizes li
        font-size: 16px
        line-height: 40px
        width: 40px
        letter-spacing: 0.25px

      &__right
        width: 100%
        justify-content: center
        margin: 60px 0 0

      &__nav
        padding: 0 10px
        span
          margin: 0
          padding: 15px 10px

    &__body
      flex-wrap: wrap

    &__desc
      max-width: 100%
      width: 100%

      &__stats
        position: absolute
        right: 35px
        top: 40px
        padding: 0
        margin: -7.5px -15px

      &__item
        h4, h5
          padding: 18px 15px
        table, p
          padding: 0 15px

      &__checkboxes
        padding: 0 15px
        display: flex
        flex-wrap: wrap
        label.checkbox
          width: 50%
          display: inline-block
          margin-top: 0!important
          &:nth-child(n+3)
            margin-top: 15px!important

      &__info
        padding: 15px
        text-align: center

    &__image
      flex-grow: 1
      order: -1
      margin: 60px 0

    &__submit
      text-align: center
      padding: 0 15px 15px

    &__bottom-text
      margin-top: 30px


@media (max-width: 767px)
  .preview
    padding: 15px

    &__header
      h2.title-page
        flex-grow: 1

      &__right
        margin: 90px 0 0

    &__desc

      &__stats
        right: calc(50% - 100px)
        top: 80px

      &__checkboxes label.checkbox
        width: 100%
        &:nth-child(n+2)
          margin-top: 15px!important

    &__submit button
      width: 100%

    &__image
      margin: 30px 0


