
.tabs
  display: flex
  margin-bottom: 60px
  position: relative
  li:not(.tabs__nav)
    font-size: 16px
    font-weight: 300
    letter-spacing: 0.3px
    padding: 25px 40px
    cursor: pointer
    transition: all .3s
    position: relative
    span
      transition: all .3s
    &:before
      content: attr(data-title)
      position: absolute
      padding: 25px 40px
      left: 0
      right: 0
      bottom: 0
      top: 0
      display: block
      font-weight: 500
      color: $green
      letter-spacing: 0
      transition: all .3s
      opacity: 0
    &.active, &:hover
      span
        opacity: 0
      &:before
        opacity: 1

  &__nav
    position: absolute
    left: 0
    bottom: 0
    height: 2px
    width: 157.61px
    background: $green
    transition: all .5s

.tab-content
  display: none
  animation: fade-sides .5s forwards
  opacity: 0
  transform: translateY(50px)
  &.active-tab
    display: block

.accordion-title
  font-size: 16px
  font-weight: 500
  letter-spacing: 0.3px
  color: $green
  position: relative
  padding: 20px 15px
  border-bottom: 1px solid #d8d8d8
  i
    position: absolute
    right: 15px
    top: 50%
    transform: translateY(-50%)
    transition: all .3s
    transform-origin: center
  &.active
    i
      transform: rotate(180deg) translateY(50%)


//responsiveness
@media (max-width: 767px)
  .tab-content.active-tab
    display: none