
.bwu

  &__item
    width: 33.33%

    &__card
      background: $border-light
      padding: 20px!important
      display: flex
      align-items: center
      position: relative
      i:not(.icon-right), p
        transition: all .3s
      i:not(.icon-right)
        margin-right: 15px
        font-size: 30px
        color: $green
      i.icon-right
        display: none
      p
        color: $dark
      &:hover
        background: $green
        color: $white
        i:not(.icon-right), p
          color: $white


//responsiveness
@media (max-width: 1024px)
  .bwu
    &__items
      margin: 0

    &__item
      width: 100%
      padding: 0

      &__card
        background: none
        padding: 15px!important
        i.icon-right
          display: block
        i:not(.icon-right)
          display: none
        p
          font-weight: 300
          padding-right: 0!important
        &:hover
          background: none
          color: $dark


@media (max-width: 767px)
  .bwu__item__card
    justify-content: flex-start
    p
      font-size: 16px
    &:hover
      background: none
      p
        color: $green



