
.for-sale__item
  width: 25%
  flex-grow: 1
  h6
    margin-bottom: 20px
  ul
    border-top: 1px solid $border-light
    padding-top: 15px
    li
      line-height: 28px
      a
        margin-top: 10px
        color: $green
        &:hover
          font-weight: 500!important
          color: $green-hover!important