
.homes

  h6.title-small-l
    margin-bottom: 25px

  &__item
    width: 33.33%

    &__content
      padding-top: 15px!important
      border-top: 1px solid $border-light
      &:hover b
        color: $green

    &__img
      width: 125px
      flex-shrink: 0

    &__desc
      padding-left: 15px
      p, b
        color: $dark
      b
        display: inline-flex
        transition: all .3s
        position: relative
        padding-right: 25px

    &__icons
      display: flex
      align-items: center
      margin: 10px -10px
      flex-wrap: wrap

      &__item
        display: flex
        align-items: center
        color: $green
        padding: 5px 10px
        i
          margin-right: 12px
        span
          padding: 0!important
          color: $green!important
          opacity: 1!important


