
.home-design

  &__item
    width: 25%

    &__card
      display: block

    &__logo
      background: $border-light
      display: flex
      align-items: center
      height: 130px
      padding: 15px 25px

    p
      margin-top: 15px
      position: relative
      padding-right: 30px

//responsiveness
@media (max-width: 1024px)
  .home-design
    &__items
      margin: 0
    &__item
      width: 100%
      padding: 0
      p
        margin: 0
        padding: 15px

      &__logo
        display: none

