
.header .dropdown-content
  min-height: 350px
  padding: 50px 0 30px
  border-top: 1px solid $green
  position: absolute
  top: 100%
  left: 0
  right: 0
  background: $white
  opacity: 0
  animation: fade-in .3s forwards
  display: none
  cursor: default
  border-bottom: 1px solid $border-light

  &.home-design

  i.icon-right
    font-size: 12px
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
  a
    padding: 0
    &:hover
      color: $green
      font-weight: 300

  &__links
    margin: -10px 0 30px 0
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    li
      display: inline-block!important
      padding: 0
      margin: 10px 0
      a
        font-weight: 300
        font-size: 16px
        position: relative
        display: flex
        padding-right: 25px
        i
          position: absolute
          top: 50%
          right: 0
          transform: translateY(-50%)
        &:hover
          color: $green

      &:first-child a
        font-weight: 500

      &:nth-child(n+2)
        margin-left: 40px
        a
          i
            transition: all .3s
          span
            opacity: 1!important
            transition: all .3s
          &:before
            content: attr(data-title)
            position: absolute
            top: calc(0 - 19px)
            left: calc(0 - 19px)
            font-weight: 500
            width: 100%
            transition: all .3s
            opacity: 0
            letter-spacing: 0.11px
            color: $green
          &:hover
            color: $dark!important
            i.icon-right
              color: $green
            span
              opacity: 0!important
            &:before
              opacity: 1

.home-design, .for-sale,
.homes, .bwu, .house-land
  &__item
    padding: 15px


//responsiveness
@media (max-width: 1024px)
  .header .dropdown-content
    position: relative
    top: 0
    padding: 15px 0
    border: none
    background: $gray-section
    opacity: 1
    animation: none
    min-height: auto
    i.icon-right
      display: none
    .row.row-15
      margin: 0
    .text-normal
      font-size: 16px!important
    i
      font-size: 10px!important
    a:hover, p
      color: $dark!important
    .container
      padding: 0
    &__links
      margin: 0
      width: 100%
      li
        font-size: 16px
        margin: 0
        &:nth-child(n+2)
          margin-left: 0
          a
            span
              opacity: 1!important
            &:before
              display: none
            &:hover
              span
                opacity: 1!important
        a
          padding: 15px
          &:before
            display: none


@media (max-width: 767px)
  .header .dropdown-content
    position: relative
    top: 0
    padding: 15px 0
    border: none
    background: $gray-section
    opacity: 1
    animation: none
    min-height: auto
    .row.row-15
      margin: 0
    .text-normal
      font-size: 16px!important
    a:hover, p
      color: $dark!important
    .container
      padding: 0
    &__links
      margin: 0
      li
        padding: 0
        font-size: 16px
        margin: 0!important
        a
          justify-content: flex-start

