
.house-land

  &__column
    padding: 15px

  &__column
    h6
      margin-bottom: 20px
    &:first-child
      width: 270px
      flex-shrink: 0

  &__image
    display: block
    &:nth-child(n+2)
      margin-top: 15px

  &__item
    width: 33.33%

    &__content
      border-top: 1px solid $border-light
      padding-top: 15px!important
      b, span, b
        color: $dark
      span
        display: block
        padding: 15px 0
        color: $green
      p
        position: relative
        display: inline-block
        padding-right: 25px


//responsiveness
@media (max-width: 1024px)
    .house-land

      &__row, &__items
        display: none