$green: #41a59f
$green-hover: #41bab4

$blue-dark: #003043

$white: #ffffff
$white-op: rgba(255, 255, 255, 0.9)
$gray: #9e9e9e
$gray-section: #f3f3f3
$gray-section-hover: #ebebeb
$gray-text: #848484
$border: #d5d5d5
$border-light: #f1f1f1
$dark: #343434
$dark-hover: #4a4a4a

//--- Elements color customization
.green
  color: $green

.green-bg
  background: $green

.dark
  color: $dark

.dark-bg
  background: $dark
  color: $white

.gray-bg
  background: $gray-section

.white
  color: $white

.white-bg
  background: $white