
.hero

    // Carousel
    .owl-carousel.owl-theme.white.carousel-1

        //*** Add background-image: to .hero__item through your admin panel ***//

        //1
        .hero__item
            .container
                .hero__item__content
                    .hero__item__logo
                        img(src='/img/carousel/c-logo-1.png', alt='Background')
                    .hero__item__desc
                        a(href='#').title-large
                            | Browse our full range of home Designs
                            i.icon-right
        //2
        .hero__item
            .container
                .hero__item__content
                    .hero__item__logo
                        img(src='/img/carousel/c-logo-1.png', alt='Background')
                    .hero__item__desc
                        a(href='#').title-large
                            | Browse Connect Family Living home Designs
                            i.icon-right
                        p.text-big Homes from 23SQ to 36SQ
        //3
        .hero__item
            .container
                .hero__item__content
                    .hero__item__logo
                        img(src='/img/carousel/c-logo-1.png', alt='Background')
                    .hero__item__desc
                        a(href='#').title-large
                            | Browse Allure Collection home Designs
                            i.icon-right
                        p.text-big Homes from 23SQ to 38SQ
        //4
        .hero__item
            .container
                .hero__item__content
                    .hero__item__logo
                        img(src='/img/carousel/c-logo-1.png', alt='Background')
                    .hero__item__desc
                        a(href='#').title-large
                            | With a Encore custom designed home
                            i.icon-right
                        p.text-big Let your imagination be your guide

    // Navigation for carousel
    .custom-nav.white
        .container
            #carousel-custom-dots
                .custom-nav__item
                    span.title-small-l Make it Yours
                .custom-nav__item
                    span.title-small-l Connect Family Living
                .custom-nav__item
                    span.title-small-l Allure Collection
                .custom-nav__item
                    span.title-small-l Encore Custom Designs


