
.portfolio.section.dark
    .container

        .portfolio__carousel.owl-carousel.owl-theme.carousel-2

            //*** Add background-image: to .portfolio__item through your admin panel ***//

            //1
            .portfolio__item
                .portfolio__item__content

                    // Logo
                    .portfolio__item__logo
                        img(src='../img/brands/simply.svg', alt='portfolio-simply')

                    // Description
                    .portfolio__item__desc.text-huge
                        | Cleverly designed homes for smaller
                        | blocks and budgets with the same
                        | Davis Sanders quality we are famous for.

                    // Link
                    .portfolio__item__link.title-small-b
                        | Visit
                        |
                        a(href='www.simplyliving.com.au') www.simplyliving.com.au

            //2
            .portfolio__item
                .portfolio__item__content

                    // Logo
                    .portfolio__item__logo
                        img(src='../img/brands/simply.svg', alt='portfolio-simply')

                    // Description
                    .portfolio__item__desc.text-huge
                        | Cleverly designed homes for smaller
                        | blocks and budgets with the same
                        | Davis Sanders quality we are famous for.

                    // Link
                    .portfolio__item__link.title-small-b
                        | Visit
                        |
                        a(href='www.simplyliving.com.au') www.simplyliving.com.au

            //3
            .portfolio__item
                .portfolio__item__content

                    // Logo
                    .portfolio__item__logo
                        img(src='../img/brands/simply.svg', alt='portfolio-simply')

                    // Description
                    .portfolio__item__desc.text-huge
                        | Cleverly designed homes for smaller
                        | blocks and budgets with the same
                        | Davis Sanders quality we are famous for.

                    // Link
                    .portfolio__item__link.title-small-b
                        | Visit
                        |
                        a(href='www.simplyliving.com.au') www.simplyliving.com.au

            //4
            .portfolio__item
                .portfolio__item__content

                    // Logo
                    .portfolio__item__logo
                        img(src='../img/brands/simply.svg', alt='portfolio-simply')

                    // Description
                    .portfolio__item__desc.text-huge
                        | Cleverly designed homes for smaller
                        | blocks and budgets with the same
                        | Davis Sanders quality we are famous for.

                    // Link
                    .portfolio__item__link.title-small-b
                        | Visit
                        |
                        a(href='www.simplyliving.com.au') www.simplyliving.com.au

