
.promo.section.gray-bg.dark.text-center
    .container

        .promo__row.row.middle

            // Left column
            .promo__column.promo__left
                h4.title-small-u 25 Years of Award Winning Homes
                p.text-normal
                    | For almost 25 years, the team at Davis Sanders
                    | Homes has been proudly building high-quality,
                    | award-winning homes with that special,
                    | uniquely personal touch.

            // Right column
            .promo__column.promo__right.row.middle

                .promo__right__img
                    img(src='../img/promo/promo.png', alt='promo')

                .promo__right__desc
                    h4.title-small-u HIA WINNER 2017
                    p.text-normal
                        span Northern Victoria Bathroom of the year
                        span Victoria Bathroom in a Display Home
                        span Victoria Kitchen in a Display Home