
.services.section

    .container

        // Form
        form.services__form.dark

            .services__form__inline.row.middle.title-section
                label.select-label
                    span Find me a
                    select.selectric
                        option Single Story
                        option Double Story
                        option Single Story 3
                    i.icon-down.visible-xs
                label.select-label
                    select.selectric
                        option 1 bedroom home
                        option 2 bedroom home
                        option 3 bedroom home
                        option 4+ bedroom home
                    i.icon-down.visible-xs
                label.select-label
                    span up to
                    select.selectric
                        option 700k
                        option 800k
                        option 1200k
                    i.icon-down.visible-xs

                .services__form__submit
                    button(type='submit').btn-xs Search

        // Items
        .services__items.row.wrap.white

            //*** Add 'background-image:' to .services__item__card

            //1
            .services__item
                a(href='#').services__item__card
                    p.title-big House & Land

            //2
            .services__item
                a(href='#').services__item__card
                    p.title-big Land for Sale

            //3
            .services__item
                a(href='#').services__item__card
                    p.title-big Building With Us