
.testimonials.dark

    .container
        .row.middle.wrap.section

            // Left (description)
            .testimonials__column.testimonials__desc
                h4.title-smaller-u.green TESTIMONIALS

                p.title-big.i
                    | Lorem ips um dol or sit amet,
                    | cons ecte tur adipi sci ng elit, sed do…

                span.text-book Lauren Jackson

            // Right (video player)
            .testimonials__column.testimonials__player
                iframe(src='https://www.youtube-nocookie.com/embed/YGE5euSZnbI',
                allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture',
                allowfullscreen='')
                //.testimonials__player__control
                //    p.white
                //        span Play
                //        i.icon-play#play
                //        span Video

