
.secondary-card.gray-card

    // Header
    .secondary-card__header
        .secondary-card__img
            img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='img1')

    // Body
    .secondary-card__body
        h5.title-smaller-b KERRFORD PARK

        // From - Only
        .secondary-card__from-only

            .secondary-card__from-only__row

                // From
                .secondary-card__from-only__item
                    span From
                    p
                        | $320,900
                        sup *

                // Only
                .secondary-card__from-only__item
                    span Only
                    p 5 lots left

        .secondary-card__cta
            a(href='#').title-small-l.bold-fade
                span View  Land
                i.icon-right