
.main-items.section.no-space-above

    .container

        .main-items__row

            //1
            .main-items__item
                include _card

            //2
            .main-items__item
                include _card

            //3
            .main-items__item
                include _card

            //4
            .main-items__item
                include _card

            //5
            .main-items__item
                include _card

            //6
            .main-items__item.grow

                // Helper card, add 'background-image:' through your admin panel to change bg
                .helper-card.white
                    .helper-card__content

                        .helper-card__content__box
                            h4.title-section Need help finding land?
                            p.text-normal
                                | Lorem ipsum dolor sit amet, consectetur adipiscing
                                | elit, sed do eiusmod tempor incididunt ut labore et dolore
                                | magna aliqua. Ut enim ad.
                            a(href='#').title-tel
                                | Contact us
                                i.icon-right