section.page-title.section.text-center
    .container
        h1.title-page Land for Sale
        p.text-big
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            | Ut enim ad minim veniam, quis nostrud exercitation ullamco
            | laboris nisi ut aliquip ex ea commodo consequat.
            | Duis aute irure dolor in reprehenderit in voluptate
