
.info-section.section
    .container-sm
        p.text-xs
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            | Nisi est sit amet facilisis. Lobortis feugiat vivamus at augue.
            | Facilisis volutpat est velit egestas dui id.
            | Nisl purus in mollis nunc sed id semper risus in.
            | Tincidunt lobortis feugiat vivamus at augue eget.
            | Fermentum odio eu feugiat pretium. Vitae ultricies leo integer malesuada.