
.location__card.dark

    // Map, Put your map here and add class 'location__map' to it
    iframe.location__card__map(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6444.127356824068!2d146.94427397785878!3d-36.140662770358844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b23e2f03d99ec99%3A0x50579a430a0d3b0!2z0JrQuNC70LvQsNGA0LAg0JLQuNC60YLQvtGA0LjRjyAzNjkxLCDQkNCy0YHRgtGA0LDQu9C40Y8!5e0!3m2!1sru!2sru!4v1546447323662', allowfullscreen='')

    //Form
    form.location__card__form.form
        label
            | SMS Location details
            input(type='text', placeholder='Mobile Number')
        button(type='submit').btn-green Send

    // Info
    .location__card__info
        p
            | This is a free service.
            | Your number is not stored
            | and you will receive no
            | further communication.

    // CTA
    .location__card__cta
        a(href='#').btn-dark Get directions on Google maps
