footer.footer#footer.section
    .container

        // Footer top
        .row.footer__top

            // Left column (links)
            .footer__column.footer__column--left.hidden-sm

                //Links (row)
                .row.wrap.footer__links

                    //1
                    .footer__links__item
                        a(href='#').title-smaller Home Designs
                        ul
                            li
                                a(href='#') Our Awards
                            li
                                a(href='#') Our Ranges
                            li
                                a(href='#') Inclusions
                            li
                                a(href='#') Promotions
                    //2
                    .footer__links__item
                        a(href='#').title-smaller Home Designs
                        ul
                            li
                                a(href='#') Packages
                            li
                                a(href='#') Displays Sale
                    //3
                    .footer__links__item
                        a(href='#').title-smaller Home Designs
                        ul
                            li
                                a(href='#') Display Centre 1
                            li
                                a(href='#') Display Centre 2
                            li
                                a(href='#') Display Centre 3
                            li
                                a(href='#') Display Centre 4
                    //4
                    .footer__links__item
                        a(href='#').title-smaller Home Designs
                        ul
                            li
                                a(href='#') Build Process
                            li
                                a(href='#') Colour Selection Studio
                            li
                                a(href='#') Knockdown Rebuild
                            li
                                a(href='#') First Time Builders
                            li
                                a(href='#') Financial Services
                            li
                                a(href='#') Where we Build

                    //5
                    .footer__links__item
                        a(href='#').title-smaller Home Designs
                        ul
                            li
                                a(href='#') Our Awards
                            li
                                a(href='#') Our Ranges
                            li
                                a(href='#') Inclusions
                            li
                                a(href='#') Promotions

                    //6
                    .footer__links__item
                        a(href='#').title-smaller Home Designs
                        ul
                            li
                                a(href='#') Our Awards
                            li
                                a(href='#') Our Ranges
                            li
                                a(href='#') Inclusions
                            li
                                a(href='#') Promotions
                    //7
                    .footer__links__item
                        a(href='#').title-smaller Home Designs
                        ul
                            li
                                a(href='#') Our Awards
                            li
                                a(href='#') Our Ranges
                            li
                                a(href='#') Inclusions
                            li
                                a(href='#') Promotions

            // Right column (brands, social and contact)
            .footer__column.footer__column--right

                // Contact
                .footer__contact
                    a(href='#').title-smaller Contact us

                    // Contact top
                    .row.wrap.footer__contact__top

                        // Brands
                        .footer__brands

                            .footer__brands__content.row

                                //1, main (with border on the right)
                                a(href='#').footer__brands__item.footer__brands__item--main
                                    img(src='../img/logo.svg', alt='brand1')
                                //2
                                a(href='#').footer__brands__item
                                    img(src='../img/brands/simply.svg', alt='brand2')
                                //3
                                a(href='#').footer__brands__item
                                    img(src='../img/brands/master.png', alt='brand3')

                        // Social
                        .footer__social
                            ul.footer__social__list.inline.row.middle
                                li
                                    a(href='tel:1800781716').green.title-tel 1800 781 716
                                li
                                    a(href='#')
                                        i.icon-youtube
                                li
                                    a(href='#')
                                        i.icon-facebook

                    // Address (contact bottom)
                    .footer__address

                        //1
                        .footer__address__item
                            h6.title-smaller Address
                            p.text-small 21 Bennu Circuit, Albury 2640
                        //2
                        .footer__address__item
                            h6.title-smaller Postal Address
                            p.text-small PO Box 7285 Albury East 2640


        // Copyright (bottom part)
        .footer__sub-footer
            p.text-xs Privacy | Terms & Conditions | Disclaimer
            p.text-xs Copyright © 2015 Davis Sanders Homes. All rights reserved.