header.header#header

    .container
        .row.middle

            // Logo (left)
            .header__logo.col-3
                a(href='#').hidden-sm
                    img(src='../img/logo.svg', alt='logo-d')
                a(href='#').visible-sm
                    img(src='../img/logo-m.svg', alt='logo-m')

            // Links (center, 2 rows)
            .header__links.col-7.full

                // Top links
                .header__links__top
                    ul.row.middle
                        li
                            a(href='tel:1800781716').title-small
                                .hidden-sm Call us 1800 781 716
                                .visible-sm
                                    img(src='../img/icons/header/phone.svg', alt='phone')
                        li.hidden-sm
                            a(href='#').bold-fade
                                span About Us
                        li.hidden-sm
                            a(href='#').bold-fade
                                span Blog
                        li.visible-sm.header__menu
                            img(src='../img/icons/header/menu.svg', alt='menu')
                            img(src='../img/icons/header/close.svg', alt='close')

                // Bottom links
                .header__links__bottom
                    ul.row.middle
                        li.header__dropdown
                            a(href='#', data-title='Home Designs').dropdown-toggle
                                span Home Designs
                                i.icon-down

                            // Dropdown content (home-design.pug)
                            include dropdowns/_home-design

                        li.header__dropdown
                            a(href='#', data-title='House & Land').dropdown-toggle
                                span House & Land
                                i.icon-down

                            //  Dropdown content (home-design.pug)
                            include dropdowns/_house-land

                        li.header__dropdown
                            a(href='#', data-title='Display Homes').dropdown-toggle
                                span Display Homes
                                i.icon-down

                            // Dropdown content (homes.pug)
                            include dropdowns/_homes

                        li.header__dropdown
                            a(href='#', data-title='Building With Us').dropdown-toggle
                                span Building With Us
                                i.icon-down

                            //Dropdown content (bwu.pug)
                            include dropdowns/_bwu

                        // *** Links from .header__links__top (visible only on tablet and mobile) ***//
                        li.row
                            a(href='#') About Us
                            a(href='#') Blog

                    // *** Cta, visible on tablet and mobile ***//
                    .header__cta.visible-sm.header__cta--sm
                        ul
                            li
                                a(href='#').title-small.btn-flat Contact us
                            li.header__dropdown
                                a(href='#').title-small.btn-flat.green-bg.dropdown-toggle Land for Sale

                                //--- Dropdown content (for-sale.pug)
                                include dropdowns/_for-sale


            // Cta (right), hidden on mobile
            .header__cta.shrink-0.hidden-sm.header__cta--sm
                ul
                    li
                        a(href='#').title-small.btn-flat Contact us
                    li.header__dropdown
                        a(href='#').title-small.btn-flat.green-bg.dropdown-toggle Land for Sale

                        // Dropdown content (for-sale.pug)
                        include dropdowns/_for-sale


