section.news.gray-bg.section
    .container

        // Top content
        .row.wrap

            h3.title-section Latest News

            // Items (left column)
            .news__items.row

                //1
                .news__item

                    a(href='#').row

                        // Description (left)
                        .news__item__desc
                            h4.title-small SPRING into action with some TLC for your home
                            p.text-small.hidden-xs
                                | Make sure that your home stays in tip top shape
                                | with this Spring, home maintenance, to do list.

                        // Image (right)
                        .news__item__img
                            img(src='../img/news/news1.png', alt='news1')

                //2
                .news__item

                    a(href='#').row

                        // Description (left)
                        .news__item__desc
                            h4.title-small SPRING into action with some TLC for your home
                            p.text-small.hidden-xs
                                | Make sure that your home stays in tip top shape
                                | with this Spring, home maintenance, to do list.

                        // Image (right)
                        .news__item__img
                            img(src='../img/news/news2.png', alt='news2')

            // View all (right column)
            .news__view-all
                a(href='#').view-all-btn View all news

        // Bottom content (form)
        form.news__form.form
            h5.title-smaller.green KEEP IN TOUCH
            .form__row.row

                .form__inline-group.row.wrap

                    //1
                    .form__column
                        label
                            input(type='email', placeholder='email')
                    //2
                    .form__column
                        label
                            input(type='text', placeholder='Post Code')

                // Submit
                .form__submit
                    button(type='submit').btn-sm Sign me up













