doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Davis Sanders Homes | Build With Us

        //Style
        link(rel='stylesheet', href='../css/style.css')

    body

        // NAVBAR -----//
        include partials/common/_header


        // BUILD WITH US PAGE
        .bwu-page#main

            // PAGE TITLE
            include partials/pages/build-with-us/_page-title

            // ITEMS
            include partials/pages/build-with-us/_items


        // NEWS SECTION
        include partials/common/_news

        // FOOTER
        include partials/common/_footer


        script(src='../js/jquery-3.3.1.min.js')
        script(src='../js/main.js')
