doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Davis Sanders Homes | Contact

        // Style
        link(rel='stylesheet', href='../css/selectric.css')
        link(rel='stylesheet', href='../css/style.css')

    body

        // NAVBAR
        include partials/common/_header


        // CONTACT PAGE
        .contact-page#main

            // PAGE TITLE
            include partials/pages/contact/_page-title

            // ENQUIRE
            include partials/pages/contact/_enquire

            // HEAD OFFICE
            include partials/pages/contact/_head-office


        // NEWS SECTION
        include partials/common/_news

        //  FOOTER
        include partials/common/_footer


        script(src='../js/jquery-3.3.1.min.js')
        script(src='../js/jquery.selectric.js')
        script(src='../js/main.js')

        script.

            $(document).ready(function () {
                // Select
                $('.selectric').selectric();
                // End
            });