doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Davis Sanders Homes | Custom Build

        // Style
        link(rel='stylesheet', href='../css/style.css')

        // Unitegallery
        link(rel='stylesheet', href='../css/ug-theme-default.css')
        link(rel='stylesheet', href='../css/unite-gallery.css')

    body

        // NAVBAR -----//
        include partials/common/_header


        // CUSTOM BUILD PAGE
        .custom-build-page#main

            // PAGE TITLE
            include partials/pages/custom-build/_page-title

            // CONTENT AREA
            .content-area

                .container
                    img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='img1')

                .container-sm
                    h2 Making your own masterpiece
                    p
                        | Our team of specialists will chat with you about your needs and wishes,
                        | ideas and innovations and come up with a solution that suits both your
                        | vision and your budget. Everything is in your control, from the floorplans
                        | to the finishes and Encore homes offer the same exceptional level of customer
                        | service and quality that has made Davis Sanders what it is today.
                        br
                        br
                        | Encore custom-built homes are particularly suited to blocks that are on a steep slope,
                        | have an odd shape or look out to a panoramic view that just cannot be ignored.
                        | They're also perfect for when you need space for extended family or separate parents
                        | retreats to get away from the noise of kids and their friends.
                        br
                        br
                        | Many of our custom-built homes have also won industry accolades for both their
                        | individual design and their workmanship, but we don't rest on our laurels. For us.
                        | every home deserves the very best and the
                        | greatest reward is bringing your ideas, impressions,
                        | desires and aspirations to life.
                        | to suit your location and your dreams.


            // CONTENT CARD
            .container
                include partials/pages/details/_content-card

            // CONTENT AREA
            .content-area

                // .container-sm to make content width = 880px
                .container-sm
                    .row

                        // Column (left)
                        .column
                            .item
                                h6 HEADING TO GO HERE
                                p
                                    | Netus et malesuada fames ac turpis eg estas integer.
                                    | Consequat interdum varius sit amet mattis
                                    |
                                    a(href='#') vulputate enim nulla aliquet.
                                    |
                                    | Lacus luctus accumsan tortor posuere ac ut. Vitae ele mentum curabitur
                                    |
                                    a(href='#') vitae nunc sed velit
                                    |
                                    | dign issim sodales. Diam phasellus vesti bulum lorem sed.


                        // Column (right)
                        .column
                            .item
                                h6 HEADING TO GO HERE
                                p
                                    | Netus et malesuada fames ac turpis eg estas integer.
                                    | Consequat interdum varius sit amet mattis
                                    |
                                    a(href='#') vulputate enim nulla aliquet.
                                    |
                                    | Lacus luctus accumsan tortor posuere ac ut. Vitae ele mentum curabitur
                                    |
                                    a(href='#') vitae nunc sed velit
                                    |
                                    | dign issim sodales. Diam phasellus vesti bulum lorem sed.

            // Gallery
            .container
                .gallery

                    //  Nav
                    .gallery__nav
                        .gallery__nav__item.gallery__count.hidden-xs#g1-count
                        .gallery__nav__item.gallery__full.visible-xs#g1-full Launch gallery

                    // Items
                    #gallery1
                        img(alt="hero1" src="../img/overview/overview1.png" data-image="../img/overview/overview1.png" data-description="Preview Image 1 Description")
                        img(alt="hero2" src="../img/overview/overview2.png" data-image="../img/overview/overview2.png" data-description="Preview Image 2 Description")
                        img(alt="hero3" src="../img/overview/overview1.png" data-image="../img/overview/overview1.png" data-description="Preview Image 3 Description")
                        img(alt="hero4" src="../img/overview/overview2.png" data-image="../img/overview/overview2.png" data-description="Preview Image 4 Description")


            // CONTENT AREA----//
            .content-area
               .container-sm
                   h2 Your finished home
                   p
                       | Our team of specialists will chat with you about your needs and wishes,
                       | ideas and innovations and come up with a solution that suits both your
                       | vision and your budget. Everything is in your control, from the floorplans
                       | to the finishes and Encore homes offer the same exceptional level of customer
                       | service and quality that has made Davis Sanders what it is today.

            // Gallery
            .container
               .gallery

                   // Nav
                   .gallery__nav
                       .gallery__nav__item.gallery__count.hidden-xs#g2-count
                       .gallery__nav__item.gallery__full.visible-xs#g2-full Launch gallery

                   // Items
                   #gallery2
                       img(alt="hero1" src="../img/overview/overview1.png" data-image="../img/overview/overview1.png" data-description="Preview Image 1 Description")
                       img(alt="hero2" src="../img/overview/overview2.png" data-image="../img/overview/overview2.png" data-description="Preview Image 2 Description")
                       img(alt="hero3" src="../img/overview/overview1.png" data-image="../img/overview/overview1.png" data-description="Preview Image 3 Description")
                       img(alt="hero4" src="../img/overview/overview2.png" data-image="../img/overview/overview2.png" data-description="Preview Image 4 Description")


            // F.A.Q.
            include partials/pages/details/_faq


            // INFO SECTION
            include partials/components/_info-section


        // NEWS SECTION
        include partials/common/_news

        // FOOTER
        include partials/common/_footer


        script(src='../js/jquery-3.3.1.min.js')
        script(src='../js/unitegallery.min.js')
        script(src='../js/ug-theme-default.js')
        script(src='../js/main.js')

        script.

            $(document).ready(function () {

                // Gallery 1

                const gallery1 = $('#gallery1').unitegallery({slider_enable_zoom_panel: false}),
                    g1Count = $('#g1-count'),
                    g1Full = $('#g1-full');

                g1Count.html('1 of ' + gallery1.getNumItems());

                gallery1.on('item_change', function (num, data) {
                    g1Count.html(num + 1 + ' of ' + gallery1.getNumItems());
                });

                g1Full.click(function () {
                    gallery1.enterFullscreen();
                    $('.ug-theme-panel').addClass('opacity');
                });

                // Gallery 2

                const gallery2 = $('#gallery2').unitegallery({slider_enable_zoom_panel: false}),
                    g2Count = $('#g2-count'),
                    g2Full = $('#g2-full');

                g2Count.html('1 of ' + gallery1.getNumItems());

                gallery2.on('item_change', function (num, data) {
                    g2Count.html(num + 1 + ' of ' + gallery2.getNumItems());
                });

                g2Full.click(function () {
                    gallery2.enterFullscreen();
                    $('.ug-theme-panel').addClass('opacity');
                });

            });