doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Davis Sanders Homes | Knockdown Rebuild

        // Style
        link(rel='stylesheet', href='../css/selectric.css')
        link(rel='stylesheet', href='../css/style.css')

    body

        // NAVBAR
        include partials/common/_header


        //  DETAILS PAGE
        .details-page#main

            // PAGE TITLE
            include partials/pages/details/_page-title

            // CONTENT AREA
            .content-area

                .container
                    img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='img1')

                .container-sm
                    h2 Is it time to consider a knockdown rebuild?
                    p
                        | If you’ve found the ideal block of land but need to get rid of the existing eyesore that’s
                        | sitting on it, Davis Sanders Homes can take care of it all.
                        br
                        br
                        | Our knockdown-rebuild service manages the whole process for you,
                        | so all you need to worry about is choosing the perfect home
                        | to make the most of your perfect address.
                        br
                        br
                        | We’ll take care of all the relevant council approvals and planning applications,
                        | coordinate the demolition of the existing building and then clear and prepare the site.
                        | That’s all before we’ve even started building your new home.
                        br
                        br
                        | A knockdown and rebuild is also the sensible choice if you’ve outgrown your existing house
                        | but don’t want to leave the neighbourhood. And of course, if your block is narrow or challenging,
                        | our designers are on hand to modify an existing plan or create a completely new design
                        | to suit your location and your dreams.


            // ENQUIRE BOX
            include partials/pages/details/_enquire-box


            // CONTENT AREA
            .content-area

                .container
                    p.text-big
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        | nisi ut aliquip ex ea commodo consequat.
                        | Duis aute irure dolor in reprehenderit in voluptate

                // .container-sm to make content width = 880px
                .container-sm
                    .row

                        // Column (left)
                        .column
                            .item
                                h6 HEADING TO GO HERE
                                p
                                    | Netus et malesuada fames ac turpis eg estas integer.
                                    | Consequat interdum varius sit amet mattis
                                    |
                                    a(href='#') vulputate enim nulla aliquet.
                                    |
                                    | Lacus luctus accumsan tortor posuere ac ut. Vitae ele mentum curabitur
                                    |
                                    a(href='#') vitae nunc sed velit
                                    |
                                    | dign issim sodales. Diam phasellus vesti bulum lorem sed.
                            .item
                                h6 HEADING TO GO HERE
                                p
                                    | Netus et malesuada fames ac turpis eg estas integer.
                                    | Consequat interdum varius sit amet mattis
                                    |
                                    a(href='#') vulputate enim nulla aliquet.
                                    |
                                    | Lacus luctus accumsan tortor posuere ac ut. Vitae ele mentum curabitur
                                    |
                                    a(href='#') vitae nunc sed velit
                                    |
                                    | dign issim sodales. Diam phasellus vesti bulum lorem sed.


                        // Column (right)
                        .column
                            .item
                                h6 HEADING TO GO HERE
                                p
                                    | Netus et malesuada fames ac turpis eg estas integer.
                                    | Consequat interdum varius sit amet mattis
                                    |
                                    a(href='#') vulputate enim nulla aliquet.
                                    |
                                    | Lacus luctus accumsan tortor posuere ac ut. Vitae ele mentum curabitur
                                    |
                                    a(href='#') vitae nunc sed velit
                                    |
                                    | dign issim sodales. Diam phasellus vesti bulum lorem sed.
                            .item
                                h6 HEADING TO GO HERE
                                p
                                    | Netus et malesuada fames ac turpis eg estas integer.
                                    | Consequat interdum varius sit amet mattis
                                    |
                                    a(href='#') vulputate enim nulla aliquet.
                                    |
                                    | Lacus luctus accumsan tortor posuere ac ut. Vitae ele mentum curabitur
                                    |
                                    a(href='#') vitae nunc sed velit
                                    |
                                    | dign issim sodales. Diam phasellus vesti bulum lorem sed.


            // ENQUIRE BOX
            include partials/pages/details/_enquire-box


            // CONTENT AREA
            .content-area

                .container
                    p.text-big
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        | nisi ut aliquip ex ea commodo consequat.
                        | Duis aute irure dolor in reprehenderit in voluptate

                // .container-sm to make content width = 880px
                .container-sm
                    .row

                        // Column (left)
                        .column
                            .item
                                img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='img2')
                            .item
                                h6 HEADING TO GO HERE
                                p
                                    | Netus et malesuada fames ac turpis eg estas integer.
                                    | Consequat interdum varius sit amet mattis
                                    |
                                    a(href='#') vulputate enim nulla aliquet.
                                    |
                                    | Lacus luctus accumsan tortor posuere ac ut. Vitae ele mentum curabitur
                                    |
                                    a(href='#') vitae nunc sed velit
                                    |
                                    | dign issim sodales. Diam phasellus vesti bulum lorem sed.
                            .item
                                h6 HEADING TO GO HERE
                                p
                                    | Netus et malesuada fames ac turpis eg estas integer.
                                    | Consequat interdum varius sit amet mattis
                                    |
                                    a(href='#') vulputate enim nulla aliquet.
                                    |
                                    | Lacus luctus accumsan tortor posuere ac ut. Vitae ele mentum curabitur
                                    |
                                    a(href='#') vitae nunc sed velit
                                    |
                                    | dign issim sodales. Diam phasellus vesti bulum lorem sed.


                        // Column (right)
                        .column
                            .item
                                img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='img2')
                            .item
                                h6 HEADING TO GO HERE
                                p
                                    | Netus et malesuada fames ac turpis eg estas integer.
                                    | Consequat interdum varius sit amet mattis
                                    |
                                    a(href='#') vulputate enim nulla aliquet.
                                    |
                                    | Lacus luctus accumsan tortor posuere ac ut. Vitae ele mentum curabitur
                                    |
                                    a(href='#') vitae nunc sed velit
                                    |
                                    | dign issim sodales. Diam phasellus vesti bulum lorem sed.
                            .item
                                h6 HEADING TO GO HERE
                                p
                                    | Netus et malesuada fames ac turpis eg estas integer.
                                    | Consequat interdum varius sit amet mattis
                                    |
                                    a(href='#') vulputate enim nulla aliquet.
                                    |
                                    | Lacus luctus accumsan tortor posuere ac ut. Vitae ele mentum curabitur
                                    |
                                    a(href='#') vitae nunc sed velit
                                    |
                                    | dign issim sodales. Diam phasellus vesti bulum lorem sed.


            // CONTENT CARD
            .container
                include partials/pages/details/_content-card


            // RECOMMENDED
            include partials/pages/details/_recommended


            // F.A.Q.
            include partials/pages/details/_faq


            // CONTENT AREA
            // Add class bordered to .content-area to add border on bottom
            .content-area.bordered

                .container-sm

                    h2 Sub heading to go here
                    .row
                        .column
                            ul
                                li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                                li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                                li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                        .column
                            ul
                                li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                                li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                                li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.


            // ENQUIRE
            include partials/pages/details/_enquire


        // NEWS SECTION
        include partials/common/_news

        // FOOTER
        include partials/common/_footer


        script(src='../js/jquery-3.3.1.min.js')
        script(src='../js/jquery.selectric.js')
        script(src='../js/main.js')

        script.

            $(document).ready(function () {
                // Select
                $('.selectric').selectric();
                // End
            });