doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Davis Sanders Homes | New Home Design

        // Style
        link(rel='stylesheet', href='../css/jquery-ui.min.css')
        link(rel='stylesheet', href='../css/jquery-ui.theme.min.css')
        link(rel='stylesheet', href='../css/jquery-ui.structure.min.css')
        link(rel='stylesheet', href='../css/style.css')

    body

        // NAVBAR
        include partials/common/_header


        // HOME DESIGN PAGE
        .home-design-page#main

            section.page-title.section.text-center
                .container
                    h1.title-page New Home Designs


            // FILTER SECTION
            include partials/pages/home-design/filters/_filters

            // ITEMS SECTION
            include partials/pages/home-design/_items


        // NEWS SECTION
        include partials/common/_news

        // FOOTER
        include partials/common/_footer


        script(src='../js/jquery-3.3.1.min.js')
        script(src='../js/jquery-ui.min.js')
        script(src='../js/jquery.ui.touch-punch.min.js')
        script(src='../js/main.js')

        script.

            // Price
            $('#range-price').slider({
                range: true,
                min: 70,
                max: 350,
                values: [0, 350],
                slide: function (event, ui) {
                    $('#price-amount-from').val(ui.values[0]);
                    $('#price-amount-to').val(ui.values[1]);
                    $('#price-range-amount').text(
                        '$' + ui.values[0] + 'k - $' + ui.values[1] + 'k'
                    )
                }
            });

            $('#price-range-amount').text(
                '$' + $('#range-price').slider('values', 0) + 'k - $' + $('#range-price').slider('values', 1) + 'k'
            );

            // Width
            $('#range-width').slider({
                range: true,
                step: 0.5,
                min: 12.5,
                max: 16,
                values: [0.5, 16],
                slide: function (event, ui) {
                    $('#width-amount-from').val(ui.values[0]);
                    $('#width-amount-to').val(ui.values[1]);
                    $('#width-range-amount').text(
                        ui.values[0] + 'm - $' + ui.values[1] + 'm'
                    )
                }
            });

            $('#width-range-amount').text(
                $('#range-width').slider('values', 0) + 'm - ' + $('#range-width').slider('values', 1) + 'm'
            );

            // Size
            $('#range-size').slider({
                range: true,
                min: 28,
                max: 35,
                values: [0, 35],
                slide: function (event, ui) {
                    $('#size-amount-from').val(ui.values[0]);
                    $('#size-amount-to').val(ui.values[1]);
                    $('#size-range-amount').text(
                        ui.values[0] + 'm - $' + ui.values[1] + 'm'
                    )
                }
            });

            $('#size-range-amount').text(
                $('#range-size').slider('values', 0) + 'm - ' + $('#range-size').slider('values', 1) + 'm'
            );
