doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Davis Sanders Homes | House Land

        // Style
        link(rel='stylesheet', href='../css/jquery-ui.min.css')
        link(rel='stylesheet', href='../css/jquery-ui.theme.min.css')
        link(rel='stylesheet', href='../css/jquery-ui.structure.min.css')
        link(rel='stylesheet', href='../css/style.css')

    body

        // NAVBAR
        include partials/common/_header


        // HOUSE LAND PAGE
        .house-land-page#main

            section.page-title.section.text-center
                .container
                    h1.title-page House & Land Packages


            // FILTER SECTION
            include partials/pages/house-land/filters/_filters

            // ITEMS SECTION
            include partials/pages/house-land/_items


        // NEWS SECTION
        include partials/common/_news

        // FOOTER
        include partials/common/_footer

        script(src='../js/jquery-3.3.1.min.js')
        script(src='../js/jquery-ui.min.js')
        script(src='../js/jquery.ui.touch-punch.min.js')
        script(src='../js/main.js')

        script.

            // Price

            $('#range-price').slider({
                range: true,
                min: 70,
                max: 350,
                values: [0, 350],
                slide: function( event, ui ) {
                    $('#price-amount-from').val(ui.values[0]);
                    $('#price-amount-to').val(ui.values[1]);
                    $('#price-range-amount').text(
                        '$' + ui.values[0] + 'k - $' + ui.values[1] + 'k'
                    )
                }
            });

            $('#price-range-amount').text(
                '$' + $('#range-price').slider('values', 0) + 'k - $' + $('#range-price').slider('values', 1) + 'k'
            );

            // End
