doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Davis Sanders Homes

        // Owl carousel 2
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css')

        // Style
        link(rel='stylesheet', href='../css/animate.css')
        link(rel='stylesheet', href='../css/jquery-ui.min.css')
        link(rel='stylesheet', href='../css/jquery-ui.theme.min.css')
        link(rel='stylesheet', href='../css/jquery-ui.structure.min.css')
        link(rel='stylesheet', href='../css/selectric.css')
        link(rel='stylesheet', href='../css/style.css')

    body

        // NAVBAR
        include partials/common/_header


        // HOME PAGE
        .home#main

            // HERO (CAROUSEL)
            include partials/pages/home/_hero

            // SERVICES SECTION
            include partials/pages/home/_services

            // PROMO SECTION
            include partials/pages/home/_promo

            // ESTIMONIALS
            include partials/pages/home/_testimonials

            // PORTFOLIO SECTION
            include partials/pages/home/_portfolio


        // NEWS SECTION
        include partials/common/_news

        // FOOTER
        include partials/common/_footer


        script(src='../js/jquery-3.3.1.min.js')
        script(src='../js/jquery-ui.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js')
        script(src='../js/jquery.selectric.js')
        script(src='../js/main.js')

        script.

            // For hero section carousel
            $('.carousel-1').owlCarousel({
                margin: 0,
                nav: false,
                items: 1,
                animateOut: 'fadeOut',
                animateIn: 'fadeIn',
                dots: true,
                mouseDrag: false,
                responsive: {
                    0: {
                        dotsContainer: false
                    },
                    1199: {
                        dotsContainer: '#carousel-custom-dots'
                    }
                }
            });

            $('.custom-nav__item').click(function () {
                $('.carousel-1').trigger('to.owl.carousel', [$(this).index(), 300]);
            });
            // End


            // For portfolio section carousel
            $('.carousel-2').owlCarousel({
                margin: 10,
                loop: true,
                nav: false,
                items: 1,
                dots: true
            });
            // End


            // Select
            $('.selectric').selectric();
            // End


