doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Davis Sanders Homes | Office

        // Style
        link(rel='stylesheet', href='../css/style.css')

    body

        // NAVBAR -----//
        include partials/common/_header


        // OFFICE PAGE
        .office#main

            // PAGE TITLE
            section.page-title.section.text-center
                .container
                    h1.title-page.grow Heading to go here

            // CONTENT
            include partials/pages/office/_content

            // PACKAGES
            include partials/components/packages/_packages



        // NEWS SECTION
        include partials/common/_news

        // FOOTER
        include partials/common/_footer

        script(src='../js/jquery-3.3.1.min.js')
        script(src='../js/main.js')

