
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title Davis Sanders Homes | Overview

        //  Unitegallery
        link(rel='stylesheet', href='../css/ug-theme-default.css')
        link(rel='stylesheet', href='../css/unite-gallery.css')

        // Style
        link(rel='stylesheet', href='../css/selectric.css')
        link(rel='stylesheet', href='../css/style.css')

    body

        // NAVBAR -----//
        include partials/common/_header


        // OVERVIEW
        .overview#main

            //PAGE TITLE
            include partials/pages/overview/_page-title

            // HERO
            include partials/pages/overview/_hero

            // CONTENT
            include partials/pages/overview/content/_content

            // INCLUSIONS
            include partials/pages/overview/_inclusions

            // SERVICES
            include partials/pages/overview/_services

            // HELPER BOX
            include partials/pages/overview/_helper-box

            // POPUP
            include partials/pages/overview/_popup


        // NEWS SECTION
        include partials/common/_news

        // FOOTER
        include partials/common/_footer


        script(src='../js/jquery-3.3.1.min.js')
        script(src='../js/jquery.selectric.js')
        script(src='../js/unitegallery.min.js')
        script(src='../js/ug-theme-default.js')
        script(src='../js/main.js')

        script.

            $(document).ready(function () {

                // Gallery 1

                const gallery1 = $('#gallery').unitegallery({ slider_enable_zoom_panel: false }),
                    g1Count = $('#g1-count'),
                    g1Full = $('#g1-full');

                g1Count.html('1 of ' + gallery1.getNumItems());

                gallery1.on('item_change', function (num, data) {
                    g1Count.html(num + 1 + ' of ' + gallery1.getNumItems());
                });

                g1Full.click(function () {
                    gallery1.enterFullscreen();
                    $('.ug-theme-panel').addClass('opacity');
                });

                // Gallery 2

                const gallery2 = $('#gallery2').unitegallery({slider_enable_zoom_panel: false}),
                    g2Count = $('#g2-count'),
                    g2Full = $('#g2-full');

                g2Count.html('1 of ' + gallery2.getNumItems());

                gallery2.on('item_change', function (num, data) {
                    g2Count.html(num + 1 + ' of ' + gallery2.getNumItems());
                });

                g2Full.click(function () {
                    gallery2.enterFullscreen();
                    $('.ug-theme-panel').addClass('opacity');
                });

                // Trigger for popup
                $('.popup').fadeIn();
                // End

                // Select
                $('.selectric').selectric();
                // End

            });

