
.overview__content.section

    .container

        // Tabs
        ul.tabs.dark.hidden-xs
            li(data-title='Floorplan', data-content='floorplan').active
                span Floorplan
            li(data-title='Facades', data-content='facades')
                span Facades
            li(data-title='Video', data-content='video')
                span Video
            li(data-title='Virtual Tour', data-content='tour')
                span Virtual Tour
            li.tabs__nav

        // Tabs content

        // 1. Floorplan (preview)
        include _floorplan

        // 2. Facades
        include _facades

        // 3. Video
        include _video

        // 4. Virtual tour
        include _tour