// Title for accordion, visible only on mobile
.accordion-title.visible-xs
    | Facades
    i.icon-down

// Tab content
.overview__content__video.tab-content#facades

    // Gallery
    .gallery

        // Nav
        .gallery__nav
            .gallery__nav__item.gallery__count.hidden-xs#g2-count
            .gallery__nav__item.gallery__full.visible-xs#g2-full Launch gallery

        // Items
        #gallery2
            img(alt="hero1" src="../img/overview/overview1.png" data-image="../img/overview/overview1.png" data-description="Preview Image 1 Description")
            img(alt="hero2" src="../img/overview/overview2.png" data-image="../img/overview/overview2.png" data-description="Preview Image 2 Description")
            img(alt="hero3" src="../img/overview/overview1.png" data-image="../img/overview/overview1.png" data-description="Preview Image 3 Description")
