
// Title for accordion, visible only on mobile
.accordion-title.visible-xs
    | Floorplan
    i.icon-down


// Tab content
form.preview.dark.tab-content#floorplan

    // Header
    .preview__header.row.middle

        // Left
        .preview__header__left.full.row.middle
            h2.title-page Indigio
            ul.preview__header__sizes.row.middle
                li.active 29
                li 24
                li 23

        //Right
        .preview__header__right

            //Reset
            .preview__header__reset.hidden-sm
                button(type='reset').btn Reset

            //Nav
            .preview__header__nav
                span
                    i.icon-plus
                span
                    i.icon-minus
                span
                    i.icon-rotate
                span
                    i.icon-scale

    // Body
    .preview__body.row

        // Description (left)
        .preview__desc

            // Stats
            .preview__desc__stats.row.middle
                .preview__desc__stats__item
                    i.icon-bed2
                    span 4
                .preview__desc__stats__item
                    i.icon-shower2
                    span 3
                .preview__desc__stats__item
                    i.icon-car2
                    span 2

            // 1 item. Home measurements
            .preview__desc__item
                h4.title-small-l.accord-title
                    | Home measurements
                    i +

                //  Content
                .preview__desc__content.accord-body

                    // Table
                    h5.title-smaller.green
                        | Designed to suit
                        |
                        span 12.5 X 28m
                        |
                        | block
                        sup *
                    table
                        tbody
                            tr
                                td House Area (m²)
                                td 208.68m²
                            tr
                                td Exterior Length
                                td 21.57m
                            tr
                                td Exterior Width
                                td 11.30m
                            tr
                                td Block Depth
                                td 28.0m
                            tr
                                td Squares
                                td 22.46

            // 2 item. Customize
            .preview__desc__item
                h4.title-small-l.accord-title
                    | Customise Floorplan
                    i +

                //  Content
                .preview__desc__content.accord-body
                    p.text-smaller-l
                        | Additional costs will be charged
                        | for any Structural Options selected.

                    // Checkboxes
                    .preview__desc__checkboxes
                        label.checkbox.active
                            | WIR DoorExterior Ensuite
                            input(type='checkbox', checked)
                        label.checkbox.active
                            | Door
                            input(type='checkbox')
                        label.checkbox
                            | Internal Access Garage
                            input(type='checkbox')
                        label.checkbox
                            | Theatre Door
                            input(type='checkbox')
                        label.checkbox
                            | Rear Passage Door
                            input(type='checkbox')

            // Info
            .preview__desc__info
                p.text-smaller-l.green
                    | Size may vary dependant on façade.
                    | Room size may be smaller on Hebel homes.
                    | Refer to working drawings for complete dimensions.

            // Submit
            .preview__submit
                button(type='submit').btn-dark Download Brochure


        // Image (right)
        .preview__image
            img(src='../img/home-plan.png', alt='home')


    .preview__bottom-text
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
