// Title for accordion, visible only on mobile
.accordion-title.visible-xs
    | Virtual Tour
    i.icon-down

// Tab content
.overview__content__tour.tab-content#tour
    img(src='https://picjumbo.com/wp-content/uploads/young-couple-relaxing-enjoying-sunset-from-the-car-2210x1473.jpg', alt='template')