// Title for accordion, visible only on mobile
.accordion-title.visible-xs
    | Video
    i.icon-down

// Tab content
.overview__content__video.tab-content#video
    iframe(src='https://www.youtube-nocookie.com/embed/YGE5euSZnbI',
    allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture',
    allowfullscreen='')