
.location

    .container
        .location__row.row

            // Details (left column)
            include _details

            // Location
            include ../../components/_location-card


