
.location__details.dark

    .location__details__section

        // Header
        .location__details__header
            h2 Shepparton Display Office
            p.title-small-l Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.

        // Info
        .location__details__info
            .location__details__address
                span.text-small-b Address
                p.text-small 5 Kerr rd, Killara, Vic 3691
            .location__details__schedule
                span.text-small-b Opening Hours
                p.title-small-l 12pm to 5pm, Wednesday to Sunday


    .location__details__section.bordered

        // Contacts
        .location__details__contacts

            //1
            .location__details__contacts__item
                a(href='#')
                    span.text-small-b Gavan Schultz
                    p.text-small 0417 125 724

            //2
            .location__details__contacts__item
                a(href='#')
                    span.text-small-b Lisa Howarth
                    p.text-small 0431 528 710

            //3
            .location__details__contacts__item
                a(href='#')
                    span.text-small-b Geoff Ross
                    p.text-small 0487 640 889

        // Items (cards)
        .location__details__items

            //1
            .location__details__items__item
                a(href='#').location__details__items__card
                    .location__details__items__img
                        img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='img1')
                    span Bianco

            //2
            .location__details__items__item
                a(href='#').location__details__items__card
                    .location__details__items__img
                        img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='img2')
                    span Bianco

            //3
            //.office__items__item
            //    a(href='#').office__items__card
            //        .office__items__card__img
            //            img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='img1')
            //        span Bianco