
.main-card

    // Header
    .main-card__header
        a(href='').main-card__compare Compare +
        .main-card__img
            img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='1')

    // Body
    .main-card__body
        .main-card__title.text-huge In Diego
        .main-card__sizes.title-small-l
            span.active 23
            span 27
            span 29
        .main-card__stats.row.middle
            .main-card__stats__item
                i.icon-bed2
                span 4
            .main-card__stats__item
                i.icon-shower2
                span 3
            .main-card__stats__item
                i.icon-car2
                span 2
        .main-card__designed.text-small Designed to suit 14m X 32m block