
// Add class gray-bg to change bg color
.content-card.gray-bg

    .content-card__img
        img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='card-img')

    .content-card__body.container-sm
        h2.title-section Sub Heading to go here
        p.title-small-l
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            | Nisi est sit amet facilisis. Lobortis feugiat vivamus at augue.
            | Facilisis volutpat est velit egestas dui id.
            br
            br
            | Nisl purus in mollis nunc sed id semper risus in. Tincidunt lobortis feugiat vivamus at augue eget.
            | Fermentum odio eu feugiat pretium. Vitae ultricies leo integer malesuada. Ultricies mi
            | eget mauris pharetra et ultrices neque. Sapien nec sagittis aliquam malesuada.
            | Etiam non quam lacus suspendisse. Arcu non odio euismod lacinia at quis risus sed.
            br
            br
            | Tempus imperdiet nulla malesuada pellentesque elit. Sit amet est placerat in egestas erat.
            | Dolor morbi non arcu risus quis. Mattis nunc sed blandit libero volutpat.
            | Risus commodo viverra maecenas accumsan lacus vel facilisis volutpat.
            | Ultrices eros in cursus turpis massa. Consectetur purus ut faucibus pulvinar elementum integer enim.
            | Ipsum dolor sit amet consectetur adipiscing elit duis tristique sollicitudin.

        .content-card__cta
            a(href='#').title-small
                i.icon-download
                | Download Brochure