.enquire.dark.section

    .container-sm

        .enquire__header.page-title.text-center
            h2.title-section Enquire Now
            p.text-big
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                | Ut enim ad minim veniam, quis nostrud exercitation
                | ullamco laboris nisi ut aliquip ex.

        .enquire__form.form

            .enquire__inputs.row.middle.wrap.row-15
                .full
                    label
                        textarea(placeholder='How can we help?')
                .col-5
                    label
                        input(type='text', placeholder='First Name')
                .col-5
                    label
                        input(type='text', placeholder='Last Name')
                .col-5
                    label
                        input(type='email', placeholder='Email')
                .col-5
                    label
                        input(type='tel', placeholder='Phone')
                .col-5
                    label.select-label
                        select.selectric
                            option(disabled, selected) Which home design are you considering?
                            option 2
                            option 3
                            option 4
                .col-5
                    label.select-label
                        select.selectric
                            option(disabled, selected) Build region
                            option 2
                            option 3
                            option 4
                .col-5
                    label.select-label
                        select.selectric
                            option(disabled, selected) What suburb are you considering?
                            option 2
                            option 3
                            option 4
                .col-5
                    label.select-label
                        select.selectric
                            option(disabled, selected) How did you hearabout us?
                            option 2
                            option 3
                            option 4

            //---- Cta
            .enquire__footer
                label.checkbox
                    | I would like to sign-up to receive Davis Sanders updates
                    input(type='checkbox')

                .enquire__submit
                    button(type='submit').btn-green Enquire now


        .enquire__helper-text
            p.text-xs
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                | Nisi est sit amet facilisis. Lobortis feugiat vivamus at augue.
                | Facilisis volutpat est velit egestas dui id.
                | Nisl purus in mollis nunc sed id semper risus in.
                | Tincidunt lobortis feugiat vivamus at augue eget.
                | Fermentum odio eu feugiat pretium. Vitae ultricies leo integer malesuada.