
//  Add class dark-bg or gray-bg to change bg color
.enquire-box.dark-bg.section
    .container-sm
        h2.title-section Sub Heading to go here
        p.title-small-l
            | Et netus et malesuada fames ac turpis egestas integer.
            | Consequat interdum varius sit amet mattis vulputate enim nulla aliquet.
            | Lacus luctus accumsan tortor posuere ac ut. Vitae elementum curabitur
            | vitae nunc sed velit dignissim sodales. Diam phasellus vestibulum lorem sed.
        a(href='#').btn-green Enquire now