
// Add class gray-bg to change bg color
.faq.gray-bg.section.dark

    .container-sm

        h2.title-section.text-center Knockdown Rebuild FAQs

        .faq__accord

            //1
            .faq__accord__item.active
                .faq__accord__item__title.title-small-l
                    p.bold-fade
                        span FAQ question to go here FAQ question to go here FAQ question to go here FAQ question to go here
                .faq__accord__item__body.text-small
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    | laboris nisi ut aliquip ex ea commodo consequat.
                    | Duis aute irure dolor in reprehenderit in voluptate velit esse
                    | cillum dolore eu fugiat nulla pariatur. Excepteur
                    | sint occaecat cupidatat non proident.
                    br
                    br
                    | Sunt in culpa qui officia deserunt mollit anim id est laborum.
                    | Et ligula ullamcorper malesuada proin libero.
                    | Sit amet nisl suscipit adipiscing bibendum est ultricies.
                    | Neque aliquam vestibulum morbi blandit cursus risus at.
                    | Iaculis urna id volutpat lacus laoreet non. Dolor sit amet
                    | consectetur adipiscing elit ut aliquam purus sit.
                    | Mi in nulla posuere sollicitudin aliquam ultrices sagittis.

            //2
            .faq__accord__item
                .faq__accord__item__title.title-small-l
                    p.bold-fade
                        span FAQ question to go here FAQ question to go here FAQ question to go here FAQ question to go here
                .faq__accord__item__body.text-small
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    | laboris nisi ut aliquip ex ea commodo consequat.
                    | Duis aute irure dolor in reprehenderit in voluptate velit esse
                    | cillum dolore eu fugiat nulla pariatur. Excepteur
                    | sint occaecat cupidatat non proident.
                    br
                    br
                    | Sunt in culpa qui officia deserunt mollit anim id est laborum.
                    | Et ligula ullamcorper malesuada proin libero.
                    | Sit amet nisl suscipit adipiscing bibendum est ultricies.
                    | Neque aliquam vestibulum morbi blandit cursus risus at.
                    | Iaculis urna id volutpat lacus laoreet non. Dolor sit amet
                    | consectetur adipiscing elit ut aliquam purus sit.
                    | Mi in nulla posuere sollicitudin aliquam ultrices sagittis.

            //3
            .faq__accord__item
                .faq__accord__item__title.title-small-l
                    p.bold-fade
                        span FAQ question to go here
                .faq__accord__item__body.text-small
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    | Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    | laboris nisi ut aliquip ex ea commodo consequat.
                    | Duis aute irure dolor in reprehenderit in voluptate velit esse
                    | cillum dolore eu fugiat nulla pariatur. Excepteur
                    | sint occaecat cupidatat non proident.
                    br
                    br
                    | Sunt in culpa qui officia deserunt mollit anim id est laborum.
                    | Et ligula ullamcorper malesuada proin libero.
                    | Sit amet nisl suscipit adipiscing bibendum est ultricies.
                    | Neque aliquam vestibulum morbi blandit cursus risus at.
                    | Iaculis urna id volutpat lacus laoreet non. Dolor sit amet
                    | consectetur adipiscing elit ut aliquam purus sit.
                    | Mi in nulla posuere sollicitudin aliquam ultrices sagittis.