
.container, .container-sm
  margin: 0 auto
  padding: 0 15px
  width: 1170px

.container-sm
  max-width: 910px
  width: auto

.section
  padding: 50px 0
  &.no-space-above
    padding-top: 0

.row
  display: flex

  &.wrap
    flex-wrap: wrap

  &.middle
    align-items: center

  .shrink-0
    flex-shrink: 0

  &.row-15
    margin: -15px

.grow
  flex-grow: 1

.col-2
  width: 20%
.col-3
  width: 30%
.col-4
  width: 40%
.col-5
  width: 50%
.col-6
  width: 60%
.col-7
  width: 70%
.col-8
  width: 80%
.col-9
  width: 90%
.full
  width: 100%!important


//responsiveness
@media (max-width: 1199px)
  .container
    width: 970px

@media (max-width: 1024px)
  .container, .container-sm
    width: 720px
  .section
    padding: 35px 0

@media (max-width: 767px)
  .container,  .container-sm
    width: 100%
