label.radio, label.checkbox
  input
    display: none

.form
  label, input
    display: block
  input
    width: 100%
    border-radius: 0
  label
    input, textarea
      height: 50px
      border: 1px solid $border
      padding-left: 20px
      color: $dark
      font-size: 14px
      transition: all .3s
      letter-spacing: 0.26px
      resize: none
      &:active, &:focus
        border-color: $green
      &::placeholder
        text-transform: capitalize
        color: $gray
        letter-spacing: 0.26px
        font-weight: 400
      &:-ms-input-placeholder
        text-transform: capitalize
        color: $gray
        letter-spacing: 0.26px
        font-weight: 400
      &::-ms-input-placeholder
        text-transform: capitalize
        color: $gray
        letter-spacing: 0.26px
        font-weight: 400
    textarea
      height: 150px
      width: 100%
      padding-top: 20px

    &.select-label
      i.icon-down
        position: absolute
        right: 30px
        top: 50%
        transform: translateY(-50%)
      &.active
        b.button, i.icon-down
          transform: rotate(180deg)

  h5.title-smaller
    margin-bottom: 25px

  &__inline-group
    margin: -15px -30px
    flex-grow: 1
    padding-right: 60px

  &__column
    padding: 15px 30px
    width: 50%

  &__submit
    width: 250px

    button
      height: 100%
      min-height: 50px
      line-height: 100%

//--- Checkboxes inline
.radios-inline
  display: flex
  align-items: center
  label
    color: $dark
    font-size: 12px
    font-weight: 400
    letter-spacing: 0.23px
    display: block
    width: 32px
    margin: 0 5px
    line-height: 30px
    border: 1px solid $dark
    text-align: center
    cursor: pointer
    transition: all .3s
    &:first-child
      width: 60px
    &.checked
      color: $white
      background: $dark


//responsiveness
@media (max-width: 1199px)
  .form

    &__row.row
      flex-wrap: wrap

    &__inline-group
      margin: -15px
      flex-grow: 1
      padding-right: 0

    &__column
      padding: 15px
      width: 50%

    &__submit
      width: 100%
      margin-top: 30px
      text-align: right
      button
        height: auto
        min-height: 0

@media (max-width: 767px)
  .form

    &__inline-group
      flex-wrap: wrap
      margin: 0

    &__column
      width: 100%
      padding: 0
      &:nth-child(n+2)
        margin-top: 15px

    &__submit
      margin-top: 15px


