
.selectric-wrapper
  b.button
    transition: all .3s


.selectric-items
  z-index: 10
  overflow: hidden
  border: none
  background: none
  .selectric-scroll
    background: $white
    transform: translateY(-100%)
    animation: fade-sides .5s forwards
  li
    text-align: center
    font-size: 16px
    font-weight: 300
    letter-spacing: 0.3px
    padding: 7.5px 0
    transition: all .3s
    &:hover, &.highlighted
      background: $green
      color: $white

.home
  label.select-label
    &:after
      content: ''
      width: 20px
      height: 20px
      background: url("../img/icons/down-green.svg") no-repeat center/contain
      position: relative
      transition: all .3s
    &.active:after
      transform: rotate(180deg)
  .services .selectric
    border: none
    background: none
    b.button
      display: none
    span
      padding: 0
      width: auto
      font-size: 30px
      font-weight: 300
      letter-spacing: 0.98px
      color: $green
      margin: 0 10px
      position: relative
  .selectric-items .selectric-scroll
    border: 1px solid $border-light
    background: $white

//responsiveness
@media (max-width: 767px)
  .home
    label.select-label:after
      display: none
    .selectric span.label
      font-size: 20px