.main-items.section

    .container

        // Header
        include _items-header

        // Items rows
        .main-items__row

            //1
            .main-items__item
                include _card
            //2
            .main-items__item
                include _card
            //3
            .main-items__item
                include _card
            //4
            .main-items__item
                include _card
            //5
            .main-items__item
                include _card
            //6
            .main-items__item
                include _card