.main-items__header.row.middle

    // Showing
    .main-items__header__showing.full
        p
            | Showing
            |
            span 35
            |
            | of
            |
            span 35

    // Compare, visible only on desktop
    .main-items__header__sort.hidden-sm.text-right.shrink-0
        .dropdown
            .dropdown-toggle.title-small-l
                | Sort by
                |
                span.title-small Price (low to high)
                i.icon-down
            ul.dropdown-content
                li.active Price (low to high)
                li Price (high to low)

    // Show filters btn
    .main-items__header__show-filters.visible-sm
        span.btn-round.filters__show__btn Filters