
.content-area
  text-align: center
  padding: 50px 0

  &.bordered
    border-bottom: 2px solid #d8d8d8

  img
    margin-bottom: 50px
  h2
    font-size: 30px
    font-weight: 300
    line-height: 34px
    letter-spacing: 0.56px
    margin-bottom: 25px
    color: $dark
  p
    color: #5e5e5e
    &:not(.text-big)
      font-size: 16px
      font-weight: 300
      line-height: 28px
      letter-spacing: 1.14px
    &.text-big
      line-height: 32px
      margin-bottom: 30px
  &:first-of-type
    padding-top: 0

  .row
    margin: 0 -15px
    .column
      padding: 15px
      h6
        color: $dark
        font-size: 14px
        font-weight: 700
        line-height: 24px
        text-transform: uppercase
        letter-spacing: 0.79px
        margin-bottom: 20px
      p, ul li
        font-size: 16px
        font-weight: 300
        line-height: 28px
        letter-spacing: 1.14px
        padding-left: 25px
        a
          color: $green
          font-weight: 500
          display: initial
          &:hover
            color: $green-hover
      ul
        li
          text-align: left
          position: relative
          color: #5e5e5e
          &:nth-child(n+2)
            margin-top: 15px
          &:before
            content: '•'
            position: absolute
            left: 0
            top: 0
            color: #7caba9
            margin-right: 5px
      .item
        &:nth-child(n+2)
          margin-top: 30px


//responsiveness
@media (max-width: 1024px)
  .content-area
    padding: 35px 0

@media (max-width: 767px)
  .content-area
    img
      margin-bottom: 35px
    h2
      font-size: 24px
      letter-spacing: 0.3px
      line-height: 30px
    p, li
      &:not(.text-big)
        font-size: 14px!important
        line-height: 23px!important
        letter-spacing: 1px!important
      &.text-big
        font-size: 16px
        line-height: 26px
        letter-spacing: 0.7px
        margin-bottom: 15px
    ul li
      padding-left: 15px!important

    .row
      flex-wrap: wrap
      .column
        width: 100%
        h6
          margin-bottom: 15px