
.footer

  a:hover
    color: $green-hover

  a.title-smaller
    margin-bottom: 10px

  &__column

    &--left
      flex-grow: 1

    &--right
      width: 35%

  &__top
    border-bottom: 1px solid $border
    padding-bottom: 25px

  &__links
    padding-right: 45px
    margin: 0 -7.5px

    &__item
      width: 25%
      padding: 0 7.5px
      ul li a
        line-height: 28px
        color: $dark
        font-size: 14px
        font-weight: 300
      &:nth-child(n+5)
        margin-top: 30px

  &__contact
    display: flex
    flex-direction: column
    height: 100%
    min-height: 100%

  &__brands
    width: 100%

    &__content
      align-items: center

    &__item
      width: 33.33%
      &:nth-child(2)
        margin: 0 15px

      &--main
        border-right: 1px solid $border
        padding-right: 15px

  &__social
    margin: 30px -15px 0
    ul li
      margin: 0 15px
      a
        display: block
        i
          font-size: 24px

  &__address
    flex-grow: 1
    display: flex
    flex-direction: column
    justify-content: flex-end
    h6
      margin-bottom: 10px

    &__item
      margin: 30px 0 0

  &__sub-footer
    text-align: right
    padding-top: 50px
    p
      color: $gray
      &:nth-child(n+2)
        margin-top: 15px



//responsiveness
@media (max-width: 1024px)
  .footer

    &__column--right, &__brands
      flex-grow: 1

    &__contact__top
      align-items: center
      &.wrap
        flex-wrap: nowrap

    &__brands
      width: 60%
      padding-right: 50px

    &__social
      margin: 0

    &__address
      display: flex

      &__item
        width: 50%

    &__sub-footer
      padding-top: 35px

@media (max-width: 767px)
  .footer

    &__column--right
      flex-grow: 1

    &__contact__top
      align-items: center
      &.wrap
        flex-wrap: wrap

    &__brands
      width: 100%
      padding: 0

      &__content
        width: auto
        max-width: 400px

    &__social
      margin: 15px -15px 0

    &__address
      display: block
      margin-top: 30px

      &__item
        width: 100%
        margin: 0
        &:nth-child(n+2)
          margin-top: 15px

    &__sub-footer
      text-align: center

@media (max-width: 420px)
  .footer__brands__item
    width: 33.33%
    img
      width: 100%
