
.header
  z-index: 100
  position: absolute
  left: 0
  top: 0
  width: 100%
  background: $white
  border-bottom: 1px solid $border-light
  &:before
    content: ''
    width: 100%
    height: 1px
    background: $border-light
    position: absolute
    left: 0
    top: calc(50% - 0.5px)

  span
    display: block

  &__logo
    position: relative
    background: $white
    box-shadow: -45px 0 0 0 $white
    a
      width: 150px

  &__links
    ul
      justify-content: flex-end
      li
        padding: 20px 25px
        &.row
          display: none
        a
          color: $dark
          cursor: pointer
          transition: all .3s
          &:not(.title-small)
            font-size: 16px
            font-weight: 300
            letter-spacing: 0.3px
          &.title-small
            display: block
          &:not(.dropdown-toggle)
            &:hover
              color: $green

    &__top
      position: relative
      ul li
        &:first-child
          border-right: 1px solid $border-light

  &__menu
    flex-shrink: 0
    width: 37px
    height: 20px
    position: relative
    img
      width: 22px
      height: 20px
      position: absolute
      left: 15px
      top: 0
      transition: all .5s
      &:last-child
        opacity: 0
        transform: scale(0)
    &.active img
      &:first-child
        opacity: 0
        transform: scale(0)
      &:last-child
        opacity: 1
        transform: scale(1)

  .header__cta .header__dropdown a:after
    bottom: -11px

  &__dropdown:not(.clickable)
    cursor: pointer
    .dropdown-toggle
      position: relative
      i.icon-down
        display: none
      span
        transition: all .3s
      &:after
        content: ''
        position: absolute
        left: 50%
        bottom: -33px
        transform: translateX(-50%)
        z-index: 10
        height: 15px
        width: 20px
        background: url("../img/icons/triangle-green.svg") no-repeat center/contain
        display: none
      &:before
        content: attr(data-title)
        position: absolute
        top: 0
        left: 0
        font-weight: 500
        width: 100%
        transition: all .3s
        opacity: 0
        letter-spacing: 0.09px
        word-break: keep-all
        white-space: nowrap
    &:hover
      span:not(.title-num)
        opacity: 0
      .dropdown-toggle
        &:after
          display: block
        &:before
          opacity: 1
      .dropdown-content
        display: block!important


//responsiveness
@media (max-width: 1199px)
  .header__links ul li
    padding: 20px 13px

@media (max-width: 1024px)
  .header
    position: fixed
    top: 0
    left: 0
    right: 0
    background: $white
    border-color: $green
    &:before
      display: none

    .container
      width: 100%

    &__menu
      padding-right: 0!important

    &__logo
      &.col-2
        width: auto
      a
        width: 200px

    &__links
      ul li.row
        border-top: 1px solid $border-light
        a
          padding: 15px

      &__top
        border-bottom: none
        position: relative
        &:before
          content: ''
          position: absolute
          height: 1px
          bottom: calc(50% - 0.5px)
          left: 20px
          width: calc(100% - 110px)
          background: $border-light
        ul li
          padding: 0 15px
          &:first-child
            border-left: 1px solid $border-light
            padding: 20px 15px

      &__bottom
        background: $white
        border-top: 1px solid $green
        padding: 15px 0 0
        top: 62px
        position: fixed
        left: 0
        right: 0
        bottom: 0
        display: none
        overflow-y: auto
        ul
          overflow-y: auto
          overflow-x: hidden
          display: block
          li
            padding: 0
            width: 100%
          &.row.middle
            min-height: calc(100% - 90px)

    &__cta
      background: $white
      padding: 15px
      ul
        display: flex
        li
          width: 50%
          a
            width: 100%

    &__dropdown.clickable
      .dropdown-toggle:not(.btn-flat)
        padding: 15px
        display: flex
        span
          min-width: 185px
        &:after, &:before
          display: none!important
        i.icon-down
          font-size: 12px
          position: relative
          top: 2px
          margin-left: 10px
          transition: all .3s
          height: 12px
          display: block
        &.active i.icon-down
          transform: rotate(-180deg)
      &:hover
        .dropdown-toggle span
          opacity: 1


@media (max-width: 767px)
  .header

    &__logo a
      width: 170px

    &__links__bottom, &__cta
      ul
        width: 100%!important

    &__links

      &__top
        &:before
          display: none
        ul li:first-child
          padding: 15px

      &__bottom
        top: 52px

    &__dropdown .dropdown-toggle:not(.btn-flat)
      padding: 15px
      display: flex

    &__cta a
      text-align: center!important
