
.news

  h3.title-section
    margin-bottom: 30px
    color: $dark
    width: 100%
    display: flex
    align-items: center

  &__items
    padding-right: 60px
    flex-wrap: wrap
    margin: -15px -30px
    width: 70%
    flex-grow: 1

  &__item
    width: 50%
    padding: 15px 30px

    a
      border-top: 1px solid $border
      padding-top: 25px

      &:hover
        border-color: $green

        h4
          color: $green

    &__desc
      padding-right: 15px
      flex-grow: 1

      h4
        color: $dark
        transition: all .3s

      p
        color: $gray
        margin-top: 15px
        line-height: 24px

    &__img
      width: 130px
      height: 150px
      overflow: hidden
      flex-shrink: 0

  &__view-all
    width: 250px
    flex-shrink: 0

  .form
    margin-top: 65px


//responsiveness
@media (max-width: 1199px)
  .news

    h3.title-section, &__view-all
      order: -1

    &__view-all
      a
        height: auto

    h3.title-section
      margin-bottom: 0
      color: $dark
      width: auto
      flex-grow: 1

    &__items
      padding-right: 0
      margin: 25px -15px 0
      width: 100%

    &__item
      width: 50%
      padding: 15px

      &__desc
        padding-right: 15px

      &__img
        width: 95px
        height: 105px

    .form
      margin-top: 30px


@media (max-width: 767px)
  .news

    h3.title-section, &__view-all
      order: 0

    &__items
      margin: 25px 0 0

    &__item
      width: 100%
      padding: 0
      .row
        padding: 15px 0

      &__desc
        padding-right: 15px
        h4.title-small
          font-size: 16px
          line-height: 26px

      &__img
        width: 65px
        height: 75px

    &__view-all
      width: 100%
      margin-top: 0

    .form h5.title-smaller
      margin-bottom: 15px




