
.main-items.section.no-space-above.no-space

    .container

        .main-items__row.row.wrap.row-15

            //1
            .main-items__item
                .secondary-card.gray-card

                    .secondary-card__header
                        .secondary-card__img
                            img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='img1')

                    .secondary-card__body
                        i.icon-steps
                        h5.title-smaller-b SEVEN STEP BUILD PROCESS
                        p.text-small.i
                            | Lorem ipsum dolor sit amet, conse
                            | ctetur adipiscing elit, sed do eiusmod
                        .secondary-card__cta
                            a(href='#').title-small-l.bold-fade
                                span Learn more
                                i.icon-right

            //2
            .main-items__item
                .secondary-card.gray-card

                    .secondary-card__header
                        .secondary-card__img
                            img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='img2')

                    .secondary-card__body
                        i.icon-driibble
                        h5.title-smaller-b SEVEN STEP BUILD PROCESS
                        p.text-small.i
                            | Lorem ipsum dolor sit amet, conse
                            | ctetur adipiscing elit, sed do eiusmod
                        .secondary-card__cta
                            a(href='#').title-small-l.bold-fade
                                span Learn more
                                i.icon-right

            //3
            .main-items__item
                .secondary-card.gray-card

                    .secondary-card__header
                        .secondary-card__img
                            img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='img3')

                    .secondary-card__body
                        i.icon-home
                        h5.title-smaller-b SEVEN STEP BUILD PROCESS
                        p.text-small.i
                            | Lorem ipsum dolor sit amet, conse
                            | ctetur adipiscing elit, sed do eiusmod
                        .secondary-card__cta
                            a(href='#').title-small-l.bold-fade
                                span Learn more
                                i.icon-right

            //4
            .main-items__item
                .secondary-card.gray-card

                    .secondary-card__header
                        .secondary-card__img
                            img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='img4')

                    .secondary-card__body
                        i.icon-question
                        h5.title-smaller-b SEVEN STEP BUILD PROCESS
                        p.text-small.i
                            | Lorem ipsum dolor sit amet, conse
                            | ctetur adipiscing elit, sed do eiusmod
                        .secondary-card__cta
                            a(href='#').title-small-l.bold-fade
                                span Learn more
                                i.icon-right

            //5
            .main-items__item
                .secondary-card.gray-card

                    .secondary-card__header
                        .secondary-card__img
                            img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='img5')

                    .secondary-card__body
                        i.icon-dollar
                        h5.title-smaller-b SEVEN STEP BUILD PROCESS
                        p.text-small.i
                            | Lorem ipsum dolor sit amet, conse
                            | ctetur adipiscing elit, sed do eiusmod
                        .secondary-card__cta
                            a(href='#').title-small-l.bold-fade
                                span Learn more
                                i.icon-right

            //6
            .main-items__item
                .secondary-card.gray-card

                    .secondary-card__header
                        .secondary-card__img
                            img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='img6')

                    .secondary-card__body
                        i.icon-marker
                        h5.title-smaller-b SEVEN STEP BUILD PROCESS
                        p.text-small.i
                            | Lorem ipsum dolor sit amet, conse
                            | ctetur adipiscing elit, sed do eiusmod
                        .secondary-card__cta
                            a(href='#').title-small-l.bold-fade
                                span Learn more
                                i.icon-right