
.main-card.dark

    // Header
    .main-card__header
        a(href='').main-card__compare Compare +
        .main-card__img
            img(src='https://picjumbo.com/wp-content/uploads/california-street-san-francisco-at-night-2210x1474.jpg', alt='img1')

    // Body
    .main-card__body
        .main-card__title.text-huge In Diego
        .main-card__sub-title.text-small-b Acacia Facade
        .main-card__stats.row.middle
            .main-card__stats__item
                i.icon-bed2
                span 4
            .main-card__stats__item
                i.icon-shower2
                span 3
            .main-card__stats__item
                i.icon-car2
                span 2
        .main-card__address.text-small 5 Charlton Road, Killara
        .main-card__size-sum.text-small-b
            | Block Size
            |
            span 243
            sup 2

    // Footer
    .main-card__footer
        .row
            .main-card__footer__from.col-6
                p
                    | From
                    span $320,900*
            .main-card__footer__per-week.col-4
                p
                    | Per week
                    span $220*
        .row
            a(href='#').main-card__footer__brochure.col-5.bold-fade
                span Brochure
            a(href='#').main-card__footer__enquire.col-5.title-small Enquire +